/* Loader */

.loader-main {
    width: $loader-circle-medium-width;
    height: $loader-circle-medium-height;
    top: 50%;
    left: 50%;
    background: url($loader-circle-medium-path) no-repeat center;
    margin-left: $loader-circle-medium-margin-left;
    margin-top: $loader-circle-medium-margin-top;
    z-index: $zindex-loader-main;
    overflow: auto;
    display: none;
    position: fixed;
}

.loader-line-small {
    display: inline-block;
    width: $loader-line-small-width;
    height: $loader-line-small-height;
    background: url($loader-line-small-path) no-repeat center;
}

.loader-line-medium {
    display: inline-block;
    width: $loader-line-medium-width;
    height: $loader-line-medium-height;
    background: url($loader-line-medium-path) no-repeat center;
}