/* Block for well, field, group, region tab links to sections */

.wfm-section-panel {
    /*background-color: $gray-darker;*/
    @include gradient-line($gray-four, $gray-darker);
}

/* Block with icon and caption in a footer panel*/
.wfm-section-item {
    border-radius: 0;
    padding: 4px 0 0 0;
    margin: 0;
    color: #a1a1a1;
    width: 70px;
    height: $footer-height;
    text-align: center;
    cursor: pointer;
    position: relative;
}

/** A modificator for active blocks */
.wfm-section-item_state_active {
    background-color: $gray-darker;
    color: $wfm-section-item-color;
}

  .wfm-section-item:focus {
      background-color: $gray-darker;
      color: $wfm-section-item-color;
  }

  .wfm-section-item:hover {
      background-color: $gray-darker;
      color: $wfm-section-item-color;
  }

  .wfm-section-item__caret {
      position: absolute;
      bottom: 4px;
      right: 4px;
      border-top-color: $gray-lighter;
      border-bottom-color: $gray-lighter;
  }
      
  .wfm-section-item__caption {
    font-size: 70%;
  }