// WFM variables for light template

// Bootstrap
$body-bg:                   #fefefe;
$text-color:                $gray-dark;
$dropdown-bg:               #fefefe;
$well-bg:                   $gray-lighter;
$input-bg:                  #fefefe;
$modal-content-bg:          #fefefe;
$modal-backdrop-bg:         $gray-light;

// WFM
$wfm-footer-color-start:    $gray-four;
$wfm-footer-color-stop:     $gray-darker;
$select-bg:                 #fefefe;
$select-color:              $gray-darker;
$wfm-nav-color-start:       $gray;
$wfm-nav-color-stop:        $gray-darker;
$sidebar-wrap-bg:           $gray;
$btn-inverse-bg:            #333;
$btn-inverse-color:         #eee;
$btn-inverse-border-color:  #777;

$widget-tile-header-bg:     $gray-lighter;