// WFM variables for dark template

// Bootstrap
$body-bg:                   $gray-dark;
$text-color:                $gray-lighter;
$dropdown-bg:               $gray-lighter;
$well-bg:                   $gray;
$input-bg:                  $gray-lighter;
$modal-content-bg:          $gray;
$modal-backdrop-bg:         $gray-light;

// WFM
$wfm-footer-color-start:    $gray-four;
$wfm-footer-color-stop:     $gray-darker;
$select-bg:                 $gray-lighter;
$select-color:              #000;
$wfm-nav-color-start:       $gray;
$wfm-nav-color-stop:        $gray-darker;
$sidebar-wrap-bg:           $gray-darker;
$btn-inverse-bg:            #333;
$btn-inverse-color:         #eee;
$btn-inverse-border-color:  #777;

$widget-tile-header-bg:     $gray;