// WFM list menu

.sidebar-wrap {
  background-color: $sidebar-wrap-bg;
}

.sidebar-toggle {
    width: 20px;
    height: 20px;
    z-index: $zindex-sidebar-toggle;
}

    .sidebar-toggle button {
        background-color: $sidebar-wrap-bg;
        padding: 0;
        color: #999;
        border: 0;
        font-size: 0.8em;
        width: 20px;
        height: 20px;
        border-radius: 0 6px 6px 0;
    }

        .sidebar-toggle button:hover {
            color: #eee;
        }

.wfm-list ul {
    /*padding-top: 4px;*/
    /*padding-left:8px;*/
}

    .wfm-list ul > li {
        padding-top: 4px;
    }

        .wfm-toggle-item {
            color: #ccc;
            padding: 4px;
            cursor: pointer;
            background-color: $sidebar-wrap-bg;
            float: left;
        }

            .wfm-toggle-item:hover {
                color: #fff;
            }

        .wfm-menu-item {
            padding: 4px;
            display: block;
            cursor: pointer;
            background-color: $sidebar-wrap-bg;
            color: #fcfcfc;
            margin-left: 22px;
            white-space: nowrap;
        }

            .wfm-menu-item:hover {
                background-color: lighten($sidebar-wrap-bg, 10%);
                color: #fcfcfc;
                text-decoration: none;
            }

        .wfm-menu-header {
            margin-left: 2px !important;
        }

        .wfm-slc-menu-item {
            background-color: lighten($sidebar-wrap-bg, 15%);
            color: #fefefe;
            font-weight: bold;
        }

.wfm-menu-button {
    margin-left: 22px;
    color: #ccc;
    background-color: #444;
    border-color: #555;
    border-radius: 0;
}

    .wfm-menu-button:hover {
        color: #eee;
        background-color: #555;
        border-color: #777;
    }

.wfm-list .wfm-child {
    padding-left: 16px;
}

/*.wfm-list > li > div > a {
    display: block;
    padding: 4px 8px 4px 0;
    text-decoration: none;
    white-space: nowrap;
    color: #ccc;
}

    .wfm-list > li > div > a:hover {
        text-decoration: none;
        background: #000;
    }*/
    
@media screen and (min-width: 992px) {
    /*workspace menu*/
    .sidebar-toggle {
        position: fixed;
        bottom: 54px;
    }

    .sidebar-toggle-visible {
        left: 210px;
    }

    .sidebar-toggle-hidden {
        left: 0;
    }

    .sidebar-wrap-visible {
        position: fixed;
        /*set by scroller plugin*/
        /*width: 210px;*/
        top: 32px;
        bottom: 50px;
        z-index: $zindex-sidebar-wrap-visible;
    }   
}