<div id="workspace-project">
  <div data-bind="with: userProfile">
    <div data-bind="with: selectedEmployee">
      <div data-bind="with: company">
        <div class="text-center" data-bind="ifnot: isLoadedWegions">
          <span>{{lang.loading}}...</span>
        </div>

        <div style="display:none" data-bind="visible: isLoadedWegions">
          <div class="clearfix">
            <div class="sidebar-toggle" data-bind="css: $root.sidebarToggleCss" >
              <button type="button" data-bind="click: $root.toggleIsVisibleMenu" title="Hide/show menu">
                <i class="glyphicon glyphicon-chevron-left" data-bind="visible: $root.isVisibleMenu"></i>
                <i class="glyphicon glyphicon-chevron-right" data-bind="hidden: $root.isVisibleMenu"></i>
              </button>
            </div>
            <div class="sidebar-wrap" data-bind="css: $root.sidebarWrapCss">
              <div data-bind="scroller: { }">
                {{> workspace-menu }}
              </div>
            </div>
            <div class="workspace-container" data-bind="css: $root.workAreaCss">
              <div data-bind="with: selectedWegion">
                <div data-bind="ifnot: selectedWellField">
                  {{> wegion }}
                </div>
                <div data-bind="with: selectedWellField">
                  <div data-bind="ifnot: selectedWellGroup">
                    {{> wield }}
                  </div>
                  <div data-bind="with: selectedWellGroup">
                    <div data-bind="ifnot: selectedWell">
                      {{> wroup }}
                    </div>
                    <div data-bind="with: selectedWell">
                      {{> well }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> modal-wide }}
  <!--Clip path for perfomance graphs-->
  <svg x="0" y="0" width="0" height="0">
    <clippath id="graph-clip">
      <rect x="0" y="0" width="1110" height="370"></rect>
    </clippath>
  </svg>
</div>