<div id="workspace-project">
  <div data-bind="ifnot: isStructureLoaded" class="text-center">
    <span>{{lang.loading}}...</span>
  </div>

  <div style="display:none" data-bind="visible: isStructureLoaded">
    <div class="clearfix">
      <div style="padding-left: 0" data-bind="css: $root.menuCss">
        {{> workspace-menu }}
      </div>
      <div data-bind="css: $root.workAreaCss">
        <div class="workspace-container">
          <div data-bind="with: selectedWellRegion">
            <div data-bind="ifnot: selectedWellField">
              {{> wegion }}
            </div>
            <div data-bind="with: selectedWellField">
              <div data-bind="ifnot: selectedWellGroup">
                {{> wield }}
              </div>
              <div data-bind="with: selectedWellGroup">
                <div data-bind="ifnot: selectedWell">
                  {{> wroup }}
                </div>
                <div data-bind="with: selectedWell">
                  {{> well }}
                </div>
              </div>
            </div>
          </div>
          <p class="text-error" data-bind="if: viewModelError">
            <span data-bind="text: viewModelError"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  {{> modal-wide }}
</div>