
<div class="clearfix">
    <div class="col-md-6 col-md-offset-1">
        <h3>Sign in or <a href="#/account/register">register a company</a>:</h3>
        <form class="form-horizontal" name="accountForm">
            <div class="form-group" ng-class="{'has-error': accountForm.email.$invalid}">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" type="email" name="email" required autofocus ng-model="usver.email" />
                </div>
                <div class="col-sm-4 has-error">
                    <span ng-show="accountForm.email.$error.email" class="help-block">wrong email format</span>
                    <span ng-show="accountForm.email.$error.required" class="help-block">required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': accountForm.password.$invalid}">
                <label class="control-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="password" required ng-model="usver.password"
                           ng-minlength="{[{bound.password.minLength}]}" ng-maxlength="{[{bound.password.maxLength}]}" autocomplete="off" />
                </div>
                <div class="col-sm-4 has-error">
                    <span class="help-block" ng-show="accountForm.password.$error.maxlength">max length: <span ng-bind="bound.password.maxLength"></span></span>
                    <span class="help-block" ng-show="accountForm.password.$error.minlength">min length: <span ng-bind="bound.password.minLength"></span></span>
                    <span class="help-block" ng-show="accountForm.password.$error.required">required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <div class="checkbox">
                        <label>
                            <input name="rememberMe" type="checkbox" ng-model="usver.rememberMe" /> remember me in this browser
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <button ng-click="tryAuth()" ng-disabled="accountForm.$invalid || !isProcessBtnEnabled" class="btn btn-primary">Sign in</button>
                </div>
                <div class="col-sm-8 has-error">
                    <span class="help-block" ng-bind="processError"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h3>Demo sign in:</h3>
        <div class="well text-center">
            <p>Please don&#x27;t load secret or important data. All loaded data can be removed at any time.</p>
            <button class="btn btn-primary" ng-disabled="!isTestLoginBtnEnabled" ng-click="testAuth()">Demo sign in</button>
        </div>
    </div>
</div>