// TODO: style: design examples #LH!
//       http://petrohelp.com/
//       http://www.windowsazure.com/en-us/
//       http://www.iwell.info/
//       http://wrapbootstrap.com/preview/WB00U99JJ
//       http://bootswatch.com/

//-- SASS: $ gem install sass --pre

@import "compass/css3/filter";

@import "compass/css3/opacity";

@import "wfm/variables";

//-- Import section

//== Bootstrap
@import "bootstrap/bootstrap";

//== File upload
@import "fileupload/fileupload";

//== Pickadate
@import "pickadate/default";
@import "pickadate/default-date";
@import "pickadate/default-time";

//== JCrop without image
@import "jcrop/jcrop";

//== WFM icons, created from fonts
@import "wfm/wfm-icons";
@import "wfm/site-base";
@import "wfm/loader";
@import "wfm/modal";
@import "wfm/wfm-list";
@import "wfm/section-panel";
@import "wfm/slider";
@import "wfm/well-log";

.wfm-nav {
  position: fixed;
  right: 0;
  left: 0;
  padding: 0 10px;
  z-index: $zindex-fixed-panel;
  min-height: $wfm-nav-height;
  height: $wfm-nav-height;
  @include gradient-line(#222, #444);
}

  .wfm-nav__block {
    padding: 6px;
  }

/* Set the fixed height of the footer here */
.wfm-footer {
  height: $footer-height;
  padding: 0;
  z-index: $zindex-fixed-panel;
  @include gradient-line($gray-four, $gray-darker);
  /*border-color: #090909;*/
}

  .wfm-footer__logo-wrap {
      padding: 12px;
      padding-left: 22px;
  }

    .wfm-footer__logo {
        background: url(../img/logo-footer.png) no-repeat;
        height: 24px;
        width: 100px;
    }

.company-logo {
    box-shadow: 0 0 8px $gray-lighter;
    width: $company-logo-width;
}

@media (max-width: 992px) {
    /* for small screen no fixed footer */
    footer {
        position: initial !important;
    }
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.nav {
    margin-bottom: 0 !important;
}

    .nav > li > span {
        position: relative;
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        color: #1F98C7;
    }

        .nav > li > span:hover,
        .nav > li > span:focus {
            text-decoration: none;
            background-color: #eeeeee;
        }

.table-fragment {
    width: 100%;
}

    .table-fragment tbody tr:hover {
        background-color: #eee;
    }

    .table-fragment .selected-row {
        background-color: #b1d9e6;
    }

    .table-fragment tbody td {
        border: 1px solid #ccc;
    }

    .table-fragment td {
        text-align: center;
    }

        .table-fragment td select {
            margin-bottom: 0px !important;
        }

.test-header {
    padding: 4px;
    background-color: #777;
}
    .test-header.test-approved {
        background-color: #18c164;
    }

    .test-header.test-declined {
        background-color: #ea7353;
    }
    
    .test-header .test-header-prop {
        padding-top: 2px;
        color: #fff;
    }
    
    .test-header .test-status {
        padding-top: 2px;
        color: #fff;
    }

.workspace-container {
    padding-left: 21px;
}

.sidebar-wrap {
  background-color: $gray-dark;  
}

.sidebar-toggle {
    width: 20px;
    height: 20px;
    z-index: $zindex-sidebar-toggle;
}

    .sidebar-toggle button {
        background-color: $gray-dark;
        padding: 0;
        color: #efefef;
        border: 0;
        font-size: 0.8em;
        width: 20px;
        height: 20px;
        border-radius: 0 6px 6px 0;
    }

        .sidebar-toggle button:hover {
            color: #fefefe;
        }

@media screen and (min-width: 768px) {
    .wfm-top-tab-panel {
        position: fixed;
        top: 0;
        z-index: $zindex-top-tab-panel;
        padding-top: 1px;
    }

        .wfm-top-tab-panel.edit-mode-block {
            top: 5px;
            right: 100px;
        }

        .wfm-top-tab-panel.dashboard-arousal {
            left: 220px;
        }

        .wfm-top-tab-panel.fmgr-arousal {
            left: 330px;
        }
}

@media screen and (min-width: 992px) {
    /*workspace menu*/
    .sidebar-toggle {
        position: fixed;
        bottom: 54px;
    }

    .sidebar-toggle-visible {
        left: 210px;
    }

    .sidebar-toggle-hidden {
        left: 0;
    }

    .sidebar-wrap-visible {
        position: fixed;
        /*set by scroller plugin*/
        /*width: 210px;*/
        top: 32px;
        bottom: 50px;
        z-index: $zindex-sidebar-wrap-visible;
    }

    .wfm-section-panel {
        position: fixed;
        bottom: 0;
        z-index: $zindex-section-panel;
    }

    .work-area {
        margin-left: 210px;
    }
}

/*height of top block (margin-top) and height of footer block (padding-bottom)*/
.wfm-content-wrap {
    min-height: 100%;
    /*height: 100%;*/
    /*box-shadow: 0 0 85px rgba(0,0,0,.3);*/
}

    .wfm-content-wrap > div {
        /*margin-top: 50px;*/
        padding-top: 32px;
        padding-bottom: 40px;
    }

    /*wfm content with padding*/
    .wfm-content-wrap .wfm-content-pad {
        padding: 4px 16px 0 16px;
    }

.tab-content-pad {
    padding: 8px 15px 0 0;
}

.btn-tile {
    border: 0;
    border-radius: 0;
    font-weight: lighter;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn-inverse {
    border: 1px solid #777;
    background-color: #333;
    color: #eee;
}

    .btn-inverse:hover {
        border: 1px solid #888;
        color: #fff;
        background-color: #444;
    }

    .btn-inverse:focus {
        border: 1px solid #888;
        color: #fff;
        background-color: #444;
    }

.axis {
}

    .axis text {
        font-size: 1.4em;
        font-family: 'Bookman Old Style', serif;
    }

    .axis line {
        fill: none;
        stroke: #ccc;
        stroke-width: 1px;
    }

    .axis path {
        fill: none;
        stroke: #888;
        stroke-width: 1px;
    }

.svg-graph-path {
    fill: none;
    stroke-width: 1.5px;
    // During scaling - doesn't change stroke width
    vector-effect: non-scaling-stroke;
}

.evo-scope-wrap {
    padding: 6px;
}

    .evo-scope-wrap .evo-wrap {
        border: 2px outset #eee;
        padding: 6px;
    }

.widget-tile {
    margin-bottom: 8px;
    border: 2px solid #e5e5e5;
    -webkit-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.75);
}

    .widget-tile .widget-tile-header {
        padding: 4px;
        background-color: #efefef;
        cursor: move;
    }

    .widget-tile .widget-tile-content {
        border-top: 0;
    }

        .widget-tile .widget-tile-content .widget-setting-panel {
            padding: 4px;
            border-bottom: 1px dashed #ccc;
        }

        .widget-tile .widget-tile-content .widget-content {
            padding: 4px;
        }

    .widget-tile .widget-empty {
        padding: 4px;
        text-align: left;
    }

.step-1 {
    background: url(../img/orderedList1.png) no-repeat center;
    height: 30px;
}

.step-2 {
    background: url(../img/orderedList2.png) no-repeat center;
    height: 30px;
}

.step-3 {
    background: url(../img/orderedList3.png) no-repeat center;
    height: 30px;
}

.dropdown-menu > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
}

    .dropdown-menu > li > div:hover,
    .dropdown-menu > li > div:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }

.bld {
    font-weight: bold;
}

.wfm-well-history-wrap {
    margin-top: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;

	.wfm-well-history-record {
		padding: 8px;
		border-left: 4px solid #eee;
	}
}

.graph-zoom-rect {
    fill: none;
    pointer-events: all;
    cursor: move;
}

.svg-zoom-controls {
    stroke: #bbb;
    cursor: pointer;
    stroke-width: 1px;
}

    .svg-zoom-controls circle {
        fill: none;
        pointer-events: all;
    }

        .svg-zoom-controls circle:hover {
            stroke: #000;
            stroke-width: 2px;
        }

    .svg-zoom-controls path {
        fill: #bbb;
    }

.panzoom-controls {
    position: absolute;
    font-size: 1.5em;
    font-weight: normal;
    right: 10px;
    line-height: 1;
}

.panzoom-in {
    top: 70px;
}

.panzoom-out {
    top: 100px;
}

.panzoom-reset {
    top: 130px;
}

.break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/* Standard wfm list for any items: light */
ul.wfm-light-list {
    padding-left: 0;
    list-style: none;
}

    ul.wfm-light-list > li {
        padding: 4px 0 4px 0;
    }

.wield-map-svg {
    font: 20px sans-serif;
    shape-rendering: crispEdges;
}

    .wield-map-svg__back-rect {
        fill: #efefef;
    }

/* Redefine bootstrap alerts: small padding */
.alert {
    padding: 8px !important;
    margin-bottom: 8px !important;
}

.graph-wrap{
  @include gradient-line(#efefef, #fefefe);
}

  .well-marker_pre-created {
    fill: green;
    stroke: #ccc;
  }

  .well-marker_drilled {
    fill: #000;
    stroke: #777;
  }
  
  .well-marker_non-drilled {
    fill: #999;
    stroke: #555;
  }
  
  .well-marker_selected {
    fill: #f00;
    stroke: #000;
  }
  
.stage-folder {
  width: 78px;
  position: relative;
  padding: 8px 2px 0;
  @include gradient-line(#eee, #ccc);
  border: 1px solid #aaa;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.stage-folder:hover {
  @include gradient-line(#ddd, #bbb);
}

.stage-folder__wfm-icon {
  font-size: 2em;
}

.stage-folder__folder-icon {
  font-size: 0.8em;
  position: absolute;
  top: 2px;
  right: 6px;
}

.stage-folder__name {
  font-size: 0.8em;
  white-space: nowrap;
}

/* A header of a list of file */
.lf-header {
  padding-bottom: 4px;
}

.lf-header-column {
  padding: 4px 4px 6px 12px;
  border: 1px solid #cecece;
  background-color: #efefef;
  position: relative;
}

.lf-header-column__select-all {
  margin: 0 0 0 0 !important;
  position: absolute;
  top: 8px;
  left: 14px;
}

.lf-header-column__name-header {
  margin-left: 26px;
}

.stencil-img {
  height: 400px;
  border: 2px outset #ccc;
  text-align: center;
  padding-top:180px;
  font-size: 1.4em;
  @include gradient-line(#efefef, #fefefe);
}

.pie-text {
  font-size: $pie-font-size;
}

.pie-legend {
  text-align: center;
}

.pie-legend__dash {
  width: 20px;
  height: 10px;
  display: inline-block
}