<div>
    <div class="clearfix">
        <div class="col-md-6 col-md-offset-1">
            <h3>{{capitalizeFirst lang.toRegisterACompany}} {{lang.or}} <a href="#" data-bind="click: toggleIsRegistered">{{lang.signIn}}</a>:</h3>
        </div>
        <div class="col-md-4">
            <h3>{{capitalizeFirst lang.emailConfirmation}}:</h3>
        </div>
    </div>
</div>