<div>
  <div class="clearfix">
    <div class="col-md-6 col-md-offset-1">
      <h3>
        {{capitalizeFirst lang.toRegisterACompany}} {{lang.or}} <span class="link-view pointer" data-bind="click: toggleIsRegistered">{{lang.signIn}}</span>:
      </h3>
      <div>Temporarily not available</div>
    </div>
    <div class="col-md-4">
      <h3>{{capitalizeFirst lang.emailConfirmation}}:</h3>
      <div>Temporarily not available</div>
    </div>
  </div>
</div>