<div class="tab-content-pad">
    <div data-bind="if: selectedSection">
        <div data-bind="if: selectedSection().sectionPatternId === 'company-summary'">
            {{> company-summary}}
        </div>
    </div>
</div>