<!-- current: vwmCompany -->
<div class="tab-content-pad">
  <div data-bind="if: slcVwmSectionWrk() === null">
    {{> widget-default-summary}}
    {{> widget-scope}}
  </div>
  <div data-bind="if: slcVwmSectionWrk">
    <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'company-summary'">
      {{> summary-standard}}
    </div>
    <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'company-report'">
      No reports
    </div>
  </div>
</div>