<!-- current: vwmCompany -->
<div data-bind="if: isNullSlcVwmSectionWrk">
  <div data-bind="if: isSlcStageViewDashboard">
    {{> widget-scope}}
  </div>
  <div data-bind="if: isSlcStageViewFmgr">
    {{> fmgr-full }}
  </div>
</div>
<div data-bind="if: slcVwmSectionWrk">
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'company-summary'">
    {{> summary-standard}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'company-report'">
    No reports
  </div>
</div>