<script type="text/html" id="default-summary-widget-tpl">
  <div data-bind="if: widget.isVisSettingPanel">
    <div class="widget-setting-panel" data-bind="foreach: $parents[3].propSpecList">
      <span data-bind="if: tpe">
        <label style="font-weight: normal">
          <input type="checkbox" data-bind="checked: widget['isVis' + clientId]" />
          <span data-bind="text: ttl"></span>
        </label>
      </span>
    </div>
  </div>
  <div data-bind="with: $parents[3]">
    <div class="widget-content" data-bind="foreach: propSpecList">
      <div data-bind="if: widget['isVis' + clientId]">
        <small class="bld" data-bind="text: ttl"></small>:
        <span data-bind="if: tpe === 'SingleLine'">
          <span data-bind="text: $parent[clientId]"></span>
        </span>
        <span data-bind="if: tpe === 'MultiLine'">
          <span class="pre-wrap-text" data-bind="text: $parent[clientId]"></span>
        </span>
        <span data-bind="if: tpe === 'DateLine'">
          <span data-bind="unix: $parent[clientId]"></span>
        </span>
        <span data-bind="if: tpe === 'FileLine'">
          <span data-bind="if: $parent[clientId]">
            <img data-bind="attr: {width: addtData.width, src: $parent[clientId]().fileUrl }"></img>
          </span>
        </span>
      </div>
    </div>
  </div>
</script>