<div class="wfm-top-tab-panel edit-mode-block">
    <button class="btn btn-xs btn-inverse" data-bind="click: toggleEditMode">
        <span data-bind="if: isEditMode">
            <i class="glyphicon glyphicon-check"></i>
        </span>
        <span data-bind="ifnot: isEditMode">
            <i class="glyphicon glyphicon-unchecked"></i>
        </span>
        <span>
            Edit mode
        </span>
    </button>
</div>