<!-- current: vwmStage (vwmUpro ... vwmWell) -->
<div class="wfm-top-tab-panel fmgr-arousal">
  <button class="btn btn-inverse btn-sm" type="button" data-bind="click: fmgrModal.show.bind(fmgrModal)">
      <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;<span>{{capitalizeFirst lang.fileManager}}</span>
  </button>
</div>
