<!-- current: vwmStage (vwmUpro ... vwmWell) -->
<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
  <!-- current: selectedFmgSection -->
  Ok callback, Cancel callback
  A file manager for this stage and this section
  {{> fmgr-file-list }}
</div>
