<!-- parrent: vwmPerfomanceOfWell -->
<!-- current: svgGraph (prfmGraph or mntrGraph) -->
<div class="graph-wrap">
  <svg version="1.1" viewbox="0 0 1200 400" width="100%" data-bind="attr: { height: sizePx.height }, svgResponsive: { koSvgWidth: sizePx.width, tmpIsVisibleMenu: $root.isVisibleMenu }">
    <g data-bind="attr: { transform: baseTransform }">    
      <g>
        <g data-bind="attr: { transform: axisXTransform }">
          <g class="axis x" data-bind="graphAxis: axis.x"></g>
        </g>
        <g>
          <g class="axis y" data-bind="graphAxis: axis.y"></g>
        </g>
        <g clip-path="url(#graph-clip)">
          <g data-bind="graphPaths: paths">
            <!-- here are data paths (curves) -->
          </g>
        </g>
        <!-- add zoom functionality: rect with zoom -->
        <rect class="graph-zoom-rect" x="0" y="0" data-bind="attr: { width: vboxSize.width, height: vboxSize.height }, svgZoomBehavior: baseZoomBhvr">
        </rect>
        {{> zoom-controls}}
      </g>
    </g>
  </svg>
</div>