<!-- Block with company context -->
<div class="modal fade" id="modal-file-mgr" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <div data-bind="ifnot: selectedWegion">
          Show all company sections (and files for each section)
        </div>
        <div data-bind="with: selectedWegion">
          <div data-bind="ifnot: selectedWield">
            Show all region sections and files
          </div>
          <div data-bind="with: selectedWield">
            <div data-bind="ifnot: selectedWroup">
              {{> wield-panel-file }}
            </div>
            <div data-bind="with: selectedWroup">
              <div data-bind="ifnot: selectedWell">
                Show all group sections and files
              </div>
              <div data-bind="with: selectedWell">
                Show all well sections and files
                <div data-bind="foreach: listOfSectionOfWellDto">
                  <span data-bind="with: sectionPattern">
                    <span data-bind="text: name"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-xs btn-link btn-modal-close" data-bind="click: modalFileMgr.hide" type="button" aria-hidden="true">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <!--<div class="modal-footer">-->
      <!--<button class="btn btn-primary modal-ok" type="button">OK</button>-->
      <!--<button class="btn btn-default modal-close" type="button" data-bind="">Cancel</button>-->
      <!--</div>-->
    </div>
  </div>
</div>