<div id="modal-panzoom-block" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body panzoom text-center">
              <img src="#"></img>
            </div>
        </div>
    </div>
</div>