<div id="modal-wide-block" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-wide">
    <div class="modal-content">
      <div class="modal-header">
        <div class="clearfix">
          <div class="pull-left">
            <!--TODO: find modal-wide blocks, add header for all blocks -->
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-primary modal-ok">OK</button>
            <button type="button" class="btn btn-default modal-close">Cancel</button>
          </div>
        </div>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>