<!-- current: vwmStage (vwmCompany) -->
<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" data-bind="modalWindow: {isOpenFileMgr: fmgr.isOpen, fileMgrHiddenCallback: fmgr.hiddenCallback}">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content full-min-height">
      <div class="modal-header clearfix" data-bind="visible: fmgr.okCallback">
        <h4 class="modal-title pull-left" data-bind="text: fmgr.okDescription"></h4>
        <div class="pull-right min-right-margin">
          <span class="min-right-margin" style="color:red" data-bind="text: fmgr.okError"></span>
          <button class="btn btn-primary btn-sm" type="button" data-bind="click: fmgr.okCallback()">OK</button>
          <button class="btn btn-primary btn-sm" type="button" data-bind="click: fmgr.hide">Cancel</button>
        </div>
      </div>
      <!-- ko ifnot: slcVwmChild -->
      {{> modal-file-mgr-panel }}
      <!-- /ko -->

      <!-- ko with: slcVwmChild -->
      <!-- ko ifnot: slcVwmChild -->
      {{> modal-file-mgr-panel }}
      <!-- /ko -->

      <!-- ko with: slcVwmChild -->
      <!-- ko ifnot: slcVwmChild -->
      {{> modal-file-mgr-panel }}
      <!-- /ko -->

      <!-- ko with: slcVwmChild -->
      <!-- ko ifnot: slcVwmChild -->
      {{> modal-file-mgr-panel }}
      <!-- /ko -->

      <!-- ko with: slcVwmChild -->
      {{> modal-file-mgr-panel }}
      <!-- /ko -->

      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    </div>
  </div>
</div>