<!-- current: vwmStage (company, wegion .. well) -->
<div class="modal-header clearfix" data-bind="hidden: $root.vwmUserProfile().slcVwmChild().vwmCompany.mdlStage.modalFileMgr.okCallback">
  <div class="clearfix">
    <div class="pull-right min-right-margin">
      <button class="btn btn-primary btn-sm" type="button" data-bind="click: $root.vwmUserProfile().slcVwmChild().vwmCompany.mdlStage.modalFileMgr.hide">Close</button>
    </div>
    <div class="pull-left">
      <div class="btn-group" data-bind="foreach: listOfVwmSection">
        <!-- ko if: mdlSection.sectionPattern -->
        <!-- ko if: mdlSection.sectionPattern().isFolder -->
        <button class="btn btn-sm btn-default" data-bind="css: {'active': isSlcVwmSectionFmg }, click: $parent.selectVwmSectionFmg">
          <span data-bind="with: mdlSection.sectionPattern">
            <span data-bind="text: name"></span>
          </span>
        </button>
        <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <!-- ko with: slcVwmSectionFmg -->
  <!-- ko if: mdlSection.sectionPattern -->
  <div>
    <span class="btn btn-sm btn-inverse fileinput-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Add file...</span>
      <input data-bind="filoader: mdlSection.getSectionFiloader()" type="file"></input>
    </span>
    <button class="btn btn-sm btn-inverse" data-bind="click: mdlSection.deleteSelectedFileSpecs, enable: mdlSection.isSelectedAnyFile">
      <i class="glyphicon glyphicon-remove"></i> {{capitalizeFirst lang.toDelete}}
    </button>
  </div>
  <div class="text-center" data-bind="visible: mdlSection.readyListOfFileSpec().length === 0">
    <span>No files</span>
  </div>
  <div class="clearfix" data-bind="visible: mdlSection.readyListOfFileSpec().length > 0">
    <div class="col-sm-8">
      <span class="bld" title="File name">Name</span>
    </div>
    <div class="col-sm-1 hidden-xs">
      <span class="bld" title="Extension">Ext</span>
    </div>
    <div class="col-sm-2 hidden-xs">
      <span class="bld" title="Created date and time">Created</span>
    </div>
    <div class="col-sm-1 hidden-xs">
      <span class="bld" title="Size, kilobytes">kB</span>
    </div>
  </div>

  <div data-bind="foreach: mdlSection.readyListOfFileSpec">
    <div class="clearfix">
      <div class="col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-bind="checked: isSelected"></input>
            <span class="break-word" data-bind="text: name, attr: {title: fullTitle }"></span>
          </label>
        </div>
      </div>
      <div class="col-sm-1">
        <span data-bind="text: extension"></span>
      </div>
      <div class="col-sm-2">
        <span data-bind="unixTime: createdUnixTime"></span>
      </div>
      <div class="col-sm-1">
        <span data-bind="text: lengthInKb, attr:{title: length + ' bytes'}"></span>
      </div>
    </div>
  </div>
  <!-- /ko -->
  <!-- /ko -->
</div>