<div id="modal-panzoom-block" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content clearfix full-height">
      <div class="modal-body panzoom text-center">
        <img src="#" alt="zoom image" />
      </div>
      <button class="btn btn-xs btn-link btn-modal-close" type="button" aria-hidden="true">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <button class="btn btn-xs btn-link panzoom-controls panzoom-in">
        <i class="glyphicon glyphicon-plus-sign"></i>
      </button>
      <button class="btn btn-xs btn-link panzoom-controls panzoom-out">
        <i class="glyphicon glyphicon-minus-sign"></i>
      </button>
      <button class="btn btn-xs btn-link panzoom-controls panzoom-reset">
        <i class="glyphicon glyphicon-refresh"></i>
      </button>
    </div>
  </div>
</div>