<div class="pd-graph-wrap">
  <!-- viewbox = prfGraph.viewBox.size + all margins -->
  <svg version="1.1" width="100%" data-bind="attr: { height: prfGraph.height }, svgResponsive: { tmpPrfGraphWidth: prfGraph.width, tmpIsVisibleMenu: $root.isVisibleMenu }" viewbox="0 0 1200 400">
    <g data-bind="attr: { transform: 'translate(' + prfGraph.viewBox.margin.left + ', ' + prfGraph.viewBox.margin.top + ')' }, svgZoomGraph: { prfAltX: prfAltX, prfAltY: prfAltY, productionDataSetSvgPath: productionDataSetSvgPath, filteredByDateProductionDataSet: filteredByDateProductionDataSet, prfGraphViewBox: prfGraph.viewBox }">
      <clippath id="graph-clip">
        <rect x="0" y="0" data-bind="attr: { width: prfGraph.viewBox.width, height: prfGraph.viewBox.height }"></rect>
      </clippath>
      <g class="axis x" data-bind="attr: { transform: 'translate(0,' + prfGraph.viewBox.height + ')' }"></g>
      <!--, svgAxisTime: { prfAltX: prfAltX, timeBorder: filteredByDateProductionDataSetTimeBorder, tmpPrfGraphViewBoxWidth: prfGraph.viewBox.width }-->
      <g class="axis y"></g>
      <g class="svg-prf-graph-g">
        <!-- ko foreach: {data: selectedWellGroupWfmParameterList, as: 'groupParam'} -->
        <path d="M0 0" clip-path="url(#graph-clip)" data-bind="attr: {id: 'grp-'+ groupParam.wfmParameterId, stroke: groupParam.color }, visible: groupParam.isVisible"></path>
        <!-- /ko -->
      </g>
      <rect class="graph-zoom-rect" x="0" y="0" data-bind="attr: { width: prfGraph.viewBox.width, height: prfGraph.viewBox.height }"></rect>
      <!--data-bind="svgAxisValue: {prfAltY: prfAltY, valueBorder: filteredByDateProductionDataSetValueBorder, tmpPrfGraphViewBoxHeight: prfGraph.viewBox.height}"-->
    </g>
  </svg>
</div>