<!-- current: mainVwmPerfomanceOfWell -->
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Time</th>
      <!-- ko foreach: {data: listOfSlcVwmWfmParameterOfWroup, as: 'vwmParam'} -->
      <th>
        <div>
          <small>
            <i class="glyphicon glyphicon-bookmark" data-bind="style: { color: vwmParam.mdlWfmParameterOfWroup.color }"></i>
          </small>
          <span data-bind="text: vwmParam.mdlWfmParameterOfWroup.wfmParameterId"></span>
        </div>
        <div>
          <label class="checkbox-inline">
            <input type="checkbox" title="show/hide" data-bind="checked: vwmParam.isVisible" />Show
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" title="usual/calc" data-bind="checked: vwmParam.mdlWfmParameterOfWroup.isCalc" />Calc
          </label>
        </div>
        <div data-bind="foreach: { data: vwmParam.mdlWfmParameterOfWroup.wfmParameter().uomMatrix, as: 'mtrx' }" class="clearfix">
          <div data-bind="foreach: {data: mtrx, as: 'uomItem' }" class="pull-left">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                <span data-bind="text: uomItem"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" data-bind="foreach: {data: vwmParam.mdlWfmParameterOfWroup.wfmParameter().getPossibleUomListForSelectedUom(uomItem), as: 'possibleUom'}">
                <li>
                  <span class="pointer link-view" data-bind="text: possibleUom, click: function(){ vwmParam.mdlWfmParameterOfWroup.wfmParameter().changeSelectedUom(possibleUom, $parentContext.$parentContext.$index(), $parentContext.$index()); }"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody>
    <!-- ko foreach: { data: filteredByDateProductionDataSet, as: 'wpd' } -->
    <!-- ko if: wpd.prfYear === $parent.selectedPrfTableYear() -->
    <tr>
      <td>
        (<span title="Production days" data-bind="text: wpd.ProdDays"></span>)&nbsp;<span data-bind="text: wpd.prfYear + '-' + wpd.prfMonthStr"></span>
      </td>
      <!-- ko foreach: {data: $parent.listOfSlcVwmWfmParameterOfWroup, as: 'vwmParam'} -->
      <td>
        <span data-bind="visible: isVisible, prec: {value: wpd[vwmParam.mdlWfmParameterOfWroup.wfmParameterId], coef: vwmParam.mdlWfmParameterOfWroup.wfmParameter().uomCoef}"></span>
      </td>
      <!-- /ko -->
    </tr>
    <!-- /ko -->
    <!-- /ko -->
  </tbody>
</table>