<!-- current: vwmStage (well) -->
<div class="wfm-section-panel clearfix">
  <div class="pull-left">
    <ul class="nav nav-pills" data-bind="foreach: listOfVwmSection">
      <!-- ko if: mdlSection.isVisibleAsView -->
      <!-- ko if: (mdlSection.sectionPatternId !== 'well-perfomance') -->
      <li>
        <div class="wfm-section-item" data-bind="click: $parent.selectVwmSectionWrk, css: {'wfm-section-item_state_active' : isSlcVwmSectionWrk }">
          <span data-bind="with: mdlSection.sectionPattern">
            <span class="wfm-section-item__caption" data-bind="text: name"></span>
            <br />
            <i class="wfm-icon" data-bind="css: iconClass"></i>
          </span>
        </div>
      </li>
      <!-- /ko -->
      <!-- ko if: (mdlSection.sectionPatternId === 'well-perfomance') -->
      <li class="dropup">
        <div class="dropdown-toggle" data-toggle="dropdown" data-bind="drpdwn: {}">
          <div class="wfm-section-item" data-bind="css: {'wfm-section-item_state_active' : isSlcVwmSectionWrk }">
            <span data-bind="with: mdlSection.sectionPattern">
              <span class="wfm-section-item__caption" data-bind="text: name"></span>
              <br />
              <i class="wfm-icon" data-bind="css: iconClass"></i>
            </span>
            <span class="wfm-section-item__caret">
              <span class="caret"></span>
            </span>
          </div>
        </div>
        <ul class="dropdown-menu" data-bind="foreach: $root.mdlWorkspace.wfmParamSquadList">
          <li>
            <!-- current: squad -->
            <!-- parent: vwmWellSection -->
            <!-- parents[1]: vwmWell -->
            <div data-bind="click: function() { $parents[1].selectVwmSectionWrk($parent); $parents[1].mainVwmPerfomanceOfWell.selectAttrGroupId($data.id); }">
              <span data-bind="text: id"></span>
            </div>
          </li>
        </ul>
      </li>
      <!-- /ko -->
      <!-- /ko -->
    </ul>
  </div>
</div>