<div class="wfm-section-panel wfm-section-panel clearfix">
  <div class="pull-left">
    <ul class="nav nav-pills" data-bind="foreach: listOfVwmSection">
      <!-- ko if: mdlSection.isVisibleAsView -->
      <li data-bind="css: {'active': isSlcVwmSectionWrk }">
        <div data-bind="click: $parent.selectVwmSectionWrk">
          <span data-bind="with: mdlSection.sectionPattern">
            <span data-bind="text: name"></span>
          </span>
          <br />
          <i class="wfmicon" data-bind="css: 'wfmicon-summary'"></i>
        </div>
      </li>
      <!-- /ko -->
    </ul>
  </div>
</div>