<!-- current: vwmStage (well) -->
<div class="wfm-section-panel wfm-section-panel clearfix">
  <div class="pull-left">
    <ul class="nav nav-pills" data-bind="foreach: listOfVwmSection">
      <!-- ko if: mdlSection.isVisibleAsView -->
      <!-- ko if: (mdlSection.sectionPatternId !== 'well-perfomance') -->
      <li data-bind="css: {'active': isSlcVwmSectionWrk }">
        <div data-bind="click: $parent.selectVwmSectionWrk">
          <span data-bind="with: mdlSection.sectionPattern">
            <span data-bind="text: name"></span>
          </span>
          <br />
          <i class="wfmicon" data-bind="css: 'wfmicon-summary'"></i>
        </div>
      </li>
      <!-- /ko -->
      <!-- ko if: (mdlSection.sectionPatternId === 'well-perfomance') -->
      <li class="dropup" data-bind="css: {'active': isSlcVwmSectionWrk }">
        <div class="dropdown-toggle" data-toggle="dropdown" data-bind="drpdwn: {}">
          <span data-bind="with: mdlSection.sectionPattern">
            <span data-bind="text: name"></span>
          </span>
          <br />
          <i class="wfmicon" data-bind="css: 'wfmicon-pd'"></i>
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" data-bind="foreach: $root.mdlWorkspace.wfmParamSquadList">
          <li>
            <!-- current: squad -->
            <!-- parent: vwmWellSection -->
            <!-- parents[1]: vwmWell -->
            <div data-bind="click: function() { $parents[1].selectVwmSectionWrk($parent); $parents[1].mdlStage.mainPerfomanceView.selectAttrGroupId($data.id); }">
              <span data-bind="text: id"></span>
            </div>
          </li>
        </ul>
      </li>
      <!-- /ko -->
      <!-- /ko -->
    </ul>
  </div>
</div>