<!-- current: vwmStage (wroup ... company, exclude the well stage) -->
<div class="wfm-section-panel clearfix">
  <div class="pull-left">
    <ul class="nav nav-pills" data-bind="foreach: listOfVwmSection">
      <!-- ko if: mdlSection.isVisibleAsView -->
        <li>
          <div class="wfm-section-item" 
               data-bind="click: $parent.selectVwmSectionWrk.bind($parent), css: {'wfm-section-item_state_active' : isSlcVwmSectionWrk }">
            <div data-bind="with: mdlSection.sectionPattern">
              <div class="wfm-section-item__caption">
                <span data-bind="text: name"></span>
              </div>
              <div>
                <i class="wfm-icon" data-bind="css: iconClass"></i>
              </div>
            </div>
          </div>
        </li>
      <!-- /ko -->
    </ul>
  </div>
</div>