<!-- current: vwmWorkspace -->
<div class="pull-right">
  <select class="input-sm"
    data-bind="options: listOfGlobalCss, optionsText: 'lbl', optionsCaption: 'Choose theme...', value: curGlobalCss"></select>
</div>