<div>
  <!--current: vwmStage (company...well)-->
  <div data-bind="ifnot: $root.isEmployeeInEditMode">
    <div data-bind="with: mdlStage">
      <div data-bind="foreach: propSpecList">
        <div data-bind="if: tpe">
          <div data-bind="if: $parent[clientId]">
            <div>
              <label data-bind="text: ttl"></label>
            </div>
            <div class="well well-sm">
              <span data-bind="if: tpe === 'SingleLine'">
                <span data-bind="text: $parent[clientId]"></span>
              </span>
              <span data-bind="if: tpe === 'MultiLine'">
                <span class="pre-wrap-text" data-bind="text: $parent[clientId]"></span>
              </span>
              <span data-bind="if: tpe === 'DateLine'">
                <span data-bind="unix: $parent[clientId]"></span>
              </span>
              <span data-bind="if: tpe === 'FileLine'">
                <img data-bind="attr: {width: addtData.width, src: $parent[clientId]().fileUrl }"></img>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-bind="if: $root.isEmployeeInEditMode">
    <div data-bind="with: mdlStage">
      <div class="clearfix">
        <div class="pull-right">
          <button class="btn btn-sm btn-danger" data-bind="click: $parent.mdlStage.removeChild">
            <i class="glyphicon glyphicon-remove-sign"></i>
            {{capitalizeFirst lang.toDelete}}
          </button>
        </div>
        <div class="pull-right min-right-margin">
          <button class="btn btn-sm btn-success" data-bind="click: save">
            <i class="glyphicon glyphicon-saved"></i>
            {{capitalizeFirst lang.toSave}}
          </button>
        </div>
      </div>
      <div data-bind="foreach: propSpecList">
        <!-- Properties without type do not showed in this list: not-editable properties -->
        <div data-bind="if: tpe">
          <div>
            <label data-bind="text: ttl"></label>
          </div>
          <div class="well well-sm">
            <span data-bind="if: tpe === 'SingleLine'">
              <input class="form-control" type="text" data-bind="value: $parent[clientId], attr: {maxlength: addtData.maxLength}"></input>
            </span>
            <span data-bind="if: tpe === 'MultiLine'">
              <textarea class="form-control" rows="5" data-bind="value: $parent[clientId]"></textarea>
            </span>
            <span data-bind="if: tpe === 'DateLine'">
              <input class="input-sm" type="text" size="10" data-bind="datepicker: $parent[clientId], datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
            </span>
            <span data-bind="if: tpe === 'FileLine'">
              <span data-bind="if: $parent[clientId]">
                <img data-bind="attr: {width: addtData.width, src: $parent[clientId]().fileUrl }"></img>
              </span>
              <button class="btn btn-default btn-sm" data-bind="click: $parent.selectImgFileSpec">Select image...</button>
              <span data-bind="if: $parent[clientId]">
                <button class="btn btn-default btn-sm" data-bind="click: $parent.deleteImgFileSpec">Delete image</button>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>