<div class="clearfix">
  <div class="pull-right" data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
    <button class="btn btn-xs btn-default" type="button" data-bind="click: $parent.deleteWegion">
      <i class="glyphicon glyphicon-remove"></i> {{capitalizeFirst lang.toDeleteRegion}}
    </button>
  </div>
  <div class="pull-left">
    <span class="bld" data-bind="text: Name"></span>
    <small data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
      <button class="btn btn-xs btn-default" type="button" data-bind="click: editWellRegion">
        <i class="glyphicon glyphicon-edit"></i>
      </button>
    </small>
  </div>
</div>