<div class="tab-content-pad">
  <div data-bind="if: slcVwmSectionWrk() === null">
    <!-- with wegion view model -->
    {{> widget-default-summary }}
    {{> widget-scope}}
  </div>
  <div data-bind="if: slcVwmSectionWrk">
    <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'wegion-summary'">
      {{> summary-standard }}
    </div>
  </div>
</div>