<div class="tab-content-pad">
    <div data-bind="if: selectedSection">
        <div data-bind="if: selectedSection().sectionPatternId === 'wegion-summary'">
            {{> summary-standard }}
        </div>
    </div>
</div>