<!-- current: vwmWell -->
<div data-bind="if: isNullSlcVwmSectionWrk">
  <div data-bind="if: isSlcStageViewDashboard">
    {{> widget-scope}}
  </div>
  <div data-bind="if: isSlcStageViewFmgr">
    {{> fmgr-full }}
  </div>
</div>
<div data-bind="if: slcVwmSectionWrk">
  <div data-bind="if: isSlcPtrnWellHistory">
    {{> well-history}}
  </div>
  <div data-bind="if: isSlcPtrnWellIntegrity">
    {{> well-integrity}}
  </div>
  <div data-bind="if: isSlcPtrnWellLog">
    {{> well-log}}
  </div>
  <div data-bind="if: isSlcPtrnWellMap">
    {{> well-map}}
  </div>
  <div data-bind="if: isSlcPtrnWellNodalAnalysis">
    {{> well-nodalanalysis}}
  </div>
  <div data-bind="if: isSlcPtrnWellPerfomance">
    {{> well-pd}}
  </div>
  <!-- TODO: move to js to decrease rendering calculation when choosing stage -->
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'well-report'">
    {{> well-report}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'well-monitoring'">
    {{> well-monitoring}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'well-sketch'">
    {{> well-sketch}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'well-summary'">
    {{> summary-standard }}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'well-test'">
    {{> well-test}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'well-volume'">
    {{> well-volume}}
  </div>
</div>