<div>
  <div class="wfm-top-tab-panel clearfix" style="left: 500px">
    <div class="pull-left" style="margin-top:1px">
      <button class="btn btn-inverse btn-sm" type="button" data-bind="click: showFmg">
        <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;<span>{{capitalizeFirst lang.fileManager}}</span>
      </button>
    </div>
  </div>

  <div class="tab-content-pad">
    <div data-bind="if: selectedSection() === null">
      {{> widget-well-perfomance}}
      {{> widget-well-sketch}}
      {{> widget-default-summary}}
      {{> widget-well-history}}

      {{> widget-scope}}
    </div>
    <div data-bind="if: selectedSection">
      <div data-bind="if: selectedSection().sectionPatternId === 'well-history'">
        {{> well-history}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-integrity'">
        {{> well-integrity}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-log'">
        {{> well-log}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-map'">
        {{> well-map}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-nodalanalysis'">
        {{> well-nodalanalysis}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-perfomance'">
        {{> well-pd}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-report'">
        {{> well-report}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-sketch'">
        {{> well-sketch}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-summary'">
        {{> summary-standard }}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-test'">
        {{> well-test}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-volume'">
        {{> well-volume}}
      </div>
    </div>
  </div>
  {{> modal-file-manager}}
</div>