<!-- current: vwmWell -->
<div class="row">
  <div class="col-md-8">
    <div data-bind="with: slcVwmVolumeOfWell">
      <!-- ko with: mdlVolumeOfWell -->
      <span data-bind="with: fileSpec">
        <span class="pointer" data-bind="panzoomImg: {src: fileUrl}">
          <img class="img-responsive" src="#" data-bind="attr: {src: fileUrl}"></img>
        </span>
      </span>
      <h6 data-bind="text: description"></h6>
      <!-- /ko -->
    </div>
    <div data-bind="ifnot: slcVwmVolumeOfWell ">
      No selected volume
    </div>
  </div>
  <div class="col-md-4">
    <div data-bind="if: $root.isEmployeeInEditMode">
      <div class="text-right">
        <button class="btn btn-sm btn-default" type="button" data-bind="click: createVolumeFromFile">
          <i class="glyphicon glyphicon-plus"></i> Add volume...
        </button>
      </div>
    </div>
    <div class="min-top-margin" data-bind="foreach: listOfVwmVolumeOfWell">
      <div data-bind="css: { 'bld': isSlcVwmVolumeOfWell }">
        <span class="pointer link-view" data-bind="text: mdlVolumeOfWell.name, click: $parent.selectVwmVolumeOfWell"></span>
      </div>
    </div>
  </div>
</div>