<!-- current: vwmWell -->
<div>
  <div class="row">
    <div class="col-md-8">
        <div data-bind="with: slcVwmMapMarker">
          <div data-bind="with: getVwmMapOfWield()">
            {{> oil-map }}
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <h4>
        <span>Maps:</span>
      </h4>
      <div data-bind="foreach: listOfVwmMapMarker">
        <div>
          <i class="glyphicon glyphicon-picture"></i>
          <span class="link-view min-left-margin" data-bind="click: $parent.selectVwmMapMarker.bind($parent)">
            <span data-bind="text: mdlWellMarker.nameOfMap, css: {'bld': isSlc}"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>