<!-- current: vwmWell -->
<div data-bind="with: vwmSketchOfWell">
  <div class="row">
    <div class="col-sm-7 text-center">
      <div data-bind="if: $root.isEmployeeInEditMode">
        <button class="btn btn-default btn-sm btn-block" data-bind="click: createSketchFromFile">Choose a sketch...</button>
      </div>
      <div data-bind="mdlSketchOfWell.isLoaded">
        <div data-bind="ifnot: mdlSketchOfWell.fileSpec">
          <div class="stencil-img">
            No sketch
          </div>
        </div>
      </div>
      <div data-bind="with: mdlSketchOfWell.fileSpec">
        <span class="pointer" data-bind="panzoomImg: {src: fileUrl}">
          <img src="#" class="img-responsive" data-bind="attr: { src: fileUrl }" alt="Sketch image" />
        </span>
      </div>
    </div>
    <div class="col-sm-5">
      <!-- ko with: mdlSketchOfWell -->
      <div data-bind="if: fileSpec">
        <div data-bind="if: $root.isEmployeeInEditMode">
          <div class="text-right">
            <button class="btn btn-xs btn-default" data-bind="click: clearSketchOfWell">
              <i class="glyphicon glyphicon-remove"></i>
              {{ capitalizeFirst lang.toDelete}} sketch
            </button>
          </div>
        </div>
        <div data-bind="if: $root.isEmployeeInEditMode">
          <textarea class="form-control" rows="10" data-bind="value: description"></textarea>
          <button class="btn btn-default btn-sm" data-bind="click: save">{{capitalizeFirst lang.toSave}} description</button>
        </div>
        <div data-bind="ifnot: $root.isEmployeeInEditMode">
          <span class="pre-wrap-text" data-bind="text: description"></span>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>