<div>
  <div class="clearfix">
    <div class="pull-left">
      <div data-bind="with: slcLogOfWell">
        <div class="clearfix min-bottom-margin" data-bind="if: $root.isEmployeeInEditMode">
          <div class="pull-left">
            <div>
              <label class="radio-inline">
                <input type="radio" name="log-tools" value="tool-hand" data-bind="checked: checkedLogTool" />Default
              </label>
              <label class="radio-inline">
                <input type="radio" name="log-tools" value="tool-text" data-bind="checked: checkedLogTool" />Text
              </label>
              <label class="radio-inline">
                <input type="radio" name="log-tools" value="tool-line" data-bind="checked: checkedLogTool" />Line
              </label>
              <label class="radio-inline">
                <input type="radio" name="log-tools" value="tool-arrow" data-bind="checked: checkedLogTool" />Arrow
              </label>
            </div>
          </div>
          <div class="pull-right" style="margin-right: 22px">
            <button type="button" class="btn btn-xs btn-default" data-bind="click: saveSvgElems, enable: isEnabledSavingSvgElems">
              <i class="glyphicon glyphicon-floppy-saved"></i> Save
            </button>
          </div>
        </div>
        <div style="position: relative; z-index: 1;" data-bind="logLas: { imgSrc: representationUrl, checkedLogTool: checkedLogTool, imgFigures: imgFigures }">
          <div class="log-las-img-wrap">
            <img class="log-las-img" src="#" alt="Log representation" />
          </div>
          <canvas class="log-las-base" width="624" height="480"></canvas>
          <div>
            <canvas class="log-las-draw" width="624" height="480"></canvas>
            <div class="log-las-text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right" style="width: 280px">
      <div class="clearfix">
        <h5 class="pull-left">Logs:</h5>
        <!-- ko if: $root.isEmployeeInEditMode -->
        <div class="pull-right">
          <button class="btn btn-default btn-xs" data-bind="click: createLogOfWellFromFileSpec">Create log...</button>
        </div>
        <!-- /ko -->
      </div>
      <ul class="list-unstyled wfm-light-list" data-bind="foreach: logsOfWell">
        <li data-bind="css: {'active' : isSelected}">
          <i class="glyphicon glyphicon-picture margin-min-right"></i>
          <span class="pointer link-view" data-bind="click: $parent.selectLogOfWell">
            <span data-bind="text: name"></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>