<div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
        <button class="btn btn-default btn-sm btn-block" data-bind="click: createSketchFromFile">Choose sketch...</button>
      </div>
      <div data-bind="with: sketchOfWell">
        <div data-bind="with: fileSpec">
          <span class="pointer" data-bind="panzoomImg: {src: fileUrl}">
            <img src="#" class="img-responsive" data-bind="attr: { src: fileUrl }" alt="Sketch image" />
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
    </div>
  </div>
</div>