<!-- current: vwmWell -->
<div data-bind="with: mainVwmPerfomanceOfWell">
  <div data-bind="ifnot: mdlPerfomanceOfWell.isLoadedHstProductionData">{{lang.loading}}...</div>
  <div data-bind="if: mdlPerfomanceOfWell.isLoadedHstProductionData">
    <div class="clearfix">
      <div class="pull-left" data-bind="if: mdlPerfomanceOfWell.hstProductionDataSet().length === 0">No data.</div>
      <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
        <!-- ko if: mdlPerfomanceOfWell.hstProductionDataSet().length > 0 -->
        <button class="btn btn-default btn-sm" type="button" data-bind="click: removeWellProductionData">
          <i class="glyphicon glyphicon-remove"></i> Remove production data
        </button>
        <!-- /ko -->
        <button class="btn btn-sm btn-default" type="button" data-bind="click: importPerfomanceData">
          <!-- TODO: send to lang.json #LL! -->
          <i class="glyphicon glyphicon-plus"></i> Import data
        </button>
      </div>
    </div>
    <div data-bind="if: mdlPerfomanceOfWell.hstProductionDataSet().length > 0">
      <!-- Settings panel -->
      <div data-bind="if: $root.isEmployeeInEditMode">
        <div data-bind="with: mdlPerfomanceOfWell">
          <div data-bind="if: requiredForecastParamListNaNString" class="text-right">
            <small>
              Forecast inaccessible: required parameters:<span data-bind="text: requiredForecastParamListNaNString"></span>
            </small>
          </div>
          <div data-bind="ifnot: requiredForecastParamListNaNString">
            <div class="clearfix">
              <div class="pull-left" data-bind="with: forecastEvolution">
                <div data-bind="if: requiredForecastEvoListNaNString">
                    Forecast inaccessible: required evolutions:<span data-bind="text: requiredForecastEvoListNaNString"></span>
                </div>
              </div>
              <div class="pull-right">
                <label class="checkbox-inline">
                  <input type="checkbox" data-bind="checked: isVisibleForecastPanel" />Show settings
                </label>
              </div>
            </div>
            <div data-bind="if: isVisibleForecastPanel">
              <div>
                <div class="evo-scope-wrap">
                  <span class="evo-wrap" data-bind="with: forecastEvolution.Dict">
                    <b>Liquid</b> = <input type="text" class="input-narrow" data-bind="value: LiquidEvolutionA" />
                    * EXP (<input type="text" class="input-narrow" data-bind="value: LiquidEvolutionB" /> * X)
                  </span>
                  <span class="evo-wrap" title="Corrections to last value = Evolution1 * EXP(Evolution2 * LastPd.LiquidCum)">
                    Diff = <span data-bind="text: DZADiffLiquid"></span>
                  </span>
                  <span class="evo-wrap" title="Corrections to last value = Diff - LastPd.LiquidRate">
                    Result = <span data-bind="text: DZADiffLiquidResult"></span>
                  </span>
                </div>
                <div class="evo-scope-wrap">
                  <span class="evo-wrap" data-bind="with: forecastEvolution.Dict">
                    <b>Water cut</b> = <input type="text" class="input-narrow" data-bind="value: WctEvolutionC" />
                    * Ln(X) - <input type="text" class="input-narrow" data-bind="value: WctEvolutionD" />
                  </span>
                  <span class="evo-wrap" title="Corrections to last value = Evolution1 * Ln(LastPd.OilCum) - Evolution2">
                    Diff = <span data-bind="text: DZADiffWCT"></span>
                  </span>
                  <span class="evo-wrap" title="Corrections to last value = Diff - LastPd.WaterCut">
                    Result = <span data-bind="text: DZADiffWCTResult"></span>
                  </span>
                </div>
                <div class="evo-scope-wrap">
                  <span class="evo-wrap" data-bind="with: forecastEvolution.Dict">
                    <b>GOR</b> = <input type="text" class="input-narrow" data-bind="value: GorEvolutionF" />
                    * Ln(X) + <input type="text" class="input-narrow" data-bind="value: GorEvolutionG" />
                  </span>
                  <span class="evo-wrap" title="Corrections to last value = Evolution1 * Ln(LastPd.OilCum) + Evolution2">
                    Diff = <span data-bind="text: DZADiffGOR"></span>
                  </span>
                  <span class="evo-wrap" title="Corrections to last value = Diff - LastPd.GOR">
                    Result = <span data-bind="text: DZADiffGORResult"></span>
                  </span>
                </div>
              </div>
              <div class="min-left-margin">
                <button type="button" class="btn btn-default btn-sm" data-bind="click: forecastEvolution.save">
                  <i class="glyphicon glyphicon-save"></i> Save evolution
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / with mdlPerfomanceOfWell  -->
      <div data-bind="ifnot: selectedAttrGroup">
        Please select a perfomance group from the bottom panel
        <!--<ul data-bind="foreach: $root.wfmParamSquadList">
          <li data-bind="with: id">
            <a href="#" data-bind="click: function(){ $parents[1].selectAttrGroupId($data);}">
              <span data-bind="text: $data"></span>
            </a>
          </li>
        </ul>-->
      </div>
      <div data-bind="if: selectedAttrGroup">
        <div>
          {{> pd-graph }}
          <div class="clearfix" style="margin-top:4px">
            <div class="text-center">
              <select data-bind="options: joinedYearList, value: WPDDateStartYear" class="input-sm"></select>
              <select data-bind="options: monthList, value: WPDDateStartMonth" class="input-sm"></select>
              <span>&nbsp;-&nbsp;</span>
              <select data-bind="options: joinedYearList, value: WPDDateEndYear" class="input-sm"></select>
              <select data-bind="options: monthList, value: WPDDateEndMonth" class="input-sm"></select>
              <label class="checkbox-inline">
                <input type="checkbox" data-bind="checked: isVisibleForecastData, enable: mdlPerfomanceOfWell.isForecastPossible" />Show forecast graph and data
              </label>
            </div>
          </div>
          {{> pd-table }}
          <div class="text-center">
            <ul class="pagination pagination-sm" data-bind="foreach: {data: joinedYearList, as: 'joinedYear'}">
              <li data-bind="css: {'active': joinedYear === $parent.selectedPrfTableYear() }, visible: joinedYear >= $parent.WPDDateStartYear() && joinedYear <= $parent.WPDDateEndYear()">
                <a href="#" data-bind="text: joinedYear, click: function(){ $parent.selectPrfTableYear(joinedYear);}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>