<div>
  <div data-bind="ifnot: $root.userProfile.selectedEmployee().isEditMode">
    <div data-bind="foreach: wellPropertyList">
      <div data-bind="if: $parent[id]">
        <div>
          <label data-bind="text: ttl"></label>
        </div>
        <div class="well well-sm">
          <span data-bind="if: tpe === 'SingleLine'">
            <span data-bind="text: $parent[id]"></span>
          </span>
          <span data-bind="if: tpe === 'MultiLine'">
            <span class="pre-wrap-text" data-bind="text: $parent[id]"></span>
          </span>
          <span data-bind="if: tpe === 'DateLine'">
            <span data-bind="unix: $parent[id]"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
    <div class="text-right">
      <button class="btn btn-xs btn-default" type="button" data-bind="click: $parent.deleteWell">
        <i class="glyphicon glyphicon-remove"></i> {{capitalizeFirst lang.toDeleteWell}}
      </button>
    </div>
    <div data-bind="foreach: wellPropertyList">
      <div>
        <label data-bind="text: ttl"></label>
        <span data-bind="if: tpe !== 'DateLine'">
          <i class="glyphicon glyphicon-edit" data-bind="click: $parent.editField"></i>
        </span>
      </div>
      <div class="well well-sm">
        <span data-bind="if: tpe === 'SingleLine'">
          <span data-bind="text: $parent[id]"></span>
        </span>
        <span data-bind="if: tpe === 'MultiLine'">
          <span class="pre-wrap-text" data-bind="text: $parent[id]"></span>
        </span>
        <span data-bind="if: tpe === 'DateLine'">
          <input class="input-sm" type="text" size="10" data-bind="datepicker: $parent[id], datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
          <button class="btn btn-sm btn-default" data-bind="click: $parent.putWell">{{capitalizeFirst lang.toSave}}</button>
        </span>
      </div>
    </div>
  </div>
</div>