<!-- current: vwmStage (Well) -->
<div>
  <!--<div class="wfm-top-tab-panel clearfix" style="left: 500px">
    <div class="pull-left" style="margin-top:1px">
      <button class="btn btn-inverse btn-sm" type="button" data-bind="click: mdlStage.showFmg">
        <i class="glyphicon glyphicon-folder-open"></i><span class="min-left-margin">{{capitalizeFirst lang.fileManager}}</span>
      </button>
    </div>
  </div>-->
  <div class="tab-content-pad">
    <div data-bind="if: slcVwmSectionWrk() === null">
      {{> widget-default-summary}}
      {{> widget-well-sketch}}
      <!-- snippet: well-widget -->
      
      {{> widget-scope}}
    </div>
    <div data-bind="if: slcVwmSectionWrk">
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-history'">
        {{> well-history}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-integrity'">
        {{> well-integrity}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-log'">
        {{> well-log}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-map'">
        {{> well-map}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-nodalanalysis'">
        {{> well-nodalanalysis}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-perfomance'">
        {{> well-pd}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-report'">
        {{> well-report}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-sketch'">
        {{> well-sketch}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-summary'">
        {{> summary-standard }}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-test'">
        {{> well-test}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'well-volume'">
        {{> well-volume}}
      </div>
    </div>
  </div>
  <!-- snippet: old-fmg -->
</div>