<div>
  <div class="wfm-top-tab-panel clearfix" style="left: 500px">
    <div class="pull-left" style="margin-top:1px">
      <button class="btn btn-inverse btn-sm" type="button" data-bind="click: unselectSection">
        <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;<span>{{capitalizeFirst lang.well}} {{lang.dashboard}}</span>
      </button>
    </div>
    <div class="pull-left" style="margin-top:1px">
      <button class="btn btn-inverse btn-sm" type="button" data-bind="click: showFmg">
        <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;<span>{{capitalizeFirst lang.fileManager}}</span>
      </button>
    </div>
  </div>

  <div class="wfm-section-panel wfm-bottom-fix clearfix">
    <div class="pull-left">
      <ul class="nav nav-pills" data-bind="foreach: listOfSection">
        <!-- ko if: (sectionPatternId !== 'well-perfomance') -->
        <li data-bind="css: {'active': isSelectedSection }">
          <div data-bind="click: $parent.selectSection">
            <span data-bind="with: sectionPattern">
              <span data-bind="text: name"></span>
            </span>
            <br />
            <i class="wfmicon" data-bind="css: 'wfmicon-summary'"></i>
          </div>
        </li>
        <!-- /ko -->
        <!-- ko if: (sectionPatternId === 'well-perfomance') -->
        <li class="dropup" data-bind="css: {'active': isSelectedSection }">
          <div class="dropdown-toggle" data-toggle="dropdown" data-bind="drpdwn:{}">
            <span data-bind="with: sectionPattern">
              <span data-bind="text: name"></span>
            </span>
            <br />
            <i class="wfmicon" data-bind="css: 'wfmicon-pd'"></i>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" data-bind="foreach: $root.wfmParamSquadList">
            <li>
              <div data-bind="click: function() { $parents[1].selectSection($parents[1].getSectionByPatternId('well-perfomance')); $parents[1].mainPerfomanceView.selectAttrGroupId($data.id); }">
                <span data-bind="text: id"></span>
              </div>
            </li>
          </ul>
        </li>
        <!-- /ko -->
      </ul>
    </div>
  </div>

  <div class="tab-content-pad">
    <div data-bind="if: selectedSection">
      <div data-bind="if: selectedSection().sectionPatternId === 'well-history'">
        {{> well-history}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-integrity'">
        {{> well-integrity}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-log'">
        {{> well-log}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-map'">
        {{> well-map}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-nodalanalysis'">
        {{> well-nodalanalysis}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-perfomance'">
        {{> well-pd}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-report'">
        {{> well-report}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-sketch'">
        {{> well-sketch}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-summary'">
        {{> well-summary}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-test'">
        {{> well-test}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'well-volume'">
        {{> well-volume}}
      </div>
    </div>
    <div data-bind="ifnot: selectedSection">
      <div data-bind="if: selectedSection() === null">
        {{> well-widget-scope}}
      </div>
    </div>
  </div>
  {{> modal-file-manager}}
</div>