<!-- current: vwmWell -->
<div class="row">
  <div data-bind="ifnot: mdlStage.isLoadedVolumes">
    <span>{{lang.loading}}...</span>
  </div>
  <div data-bind="if: mdlStage.isLoadedVolumes">
    <div class="col-sm-6">
      <div data-bind="ifnot: listOfVwmVolumeOfWell.hasItems">
        <div class="stencil-img">
          No volume
        </div>
      </div>
      <div data-bind="with: slcVwmVolumeOfWell">
        <!-- ko with: mdlVolumeOfWell -->
        <span data-bind="with: fileSpec">
          <span class="pointer" data-bind="panzoomImg: {src: fileUrl}">
            <img class="img-responsive" src="#" data-bind="attr: {src: fileUrl}" alt="volume image" />
          </span>
        </span>
        <h6 data-bind="text: description"></h6>
        <!-- /ko -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="clearfix">
        <div class="pull-left" data-bind="if: listOfVwmVolumeOfWell.hasItems">
          <h4>Volumes:</h4>
        </div>
        <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
          <div class="text-right">
            <button class="btn btn-sm btn-default" type="button" data-bind="click: createVolumeFromFile">
              <i class="glyphicon glyphicon-plus"></i> Add volume...
            </button>
          </div>
        </div>
      </div>
      <ul class="wfm-light-list" data-bind="foreach: listOfVwmVolumeOfWell">
        <li class="clearfix">
          <div class="pull-left">
            <span class="pointer link-view" data-bind="click: $parent.selectVwmVolumeOfWell.bind($parent)">
              <span data-bind="text: mdlVolumeOfWell.name, css: { 'bld': isSlcVwmVolumeOfWell }"></span>
            </span>
          </div>
          <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
            <button class="btn btn-xs btn-default" data-bind="click: $parent.removeVwmVolumeOfWell.bind($parent)">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>