<script type="text/html" id="well-volume-tpl">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div>
        <button class="btn btn-default btn-sm btn-block" data-bind="click: function(){ chooseMainFile('volume'); }">Choose volume...</button>
      </div>
      <span class="pointer" data-bind="panzoomImg: {src: MainVolumeUrl}">
        <img class="img-responsive" src="#" data-bind="attr: { src: MainVolumeUrl }" alt="Volume image" />
      </span>
    </div>
  </div>
</script>