<!-- current: vwmStage (well) -->
<div>
  <div class="clearfix">
    <h4 class="pull-left">
      Well monitoring
    </h4>
    <div class="pull-left min-left-margin" data-bind="with: mainVwmMonitoringOfWell">
      <input class="input-sm" size="10" data-bind="datepicker: mntrUnixTimeBorder.start, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }"/>
      <span>-</span>
      <input class="input-sm" size="10" data-bind="datepicker: mntrUnixTimeBorder.end, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }"/>
    </div>
    <div class="pull-right">
      <!-- parent: vwmWroup -->
      <button class="btn btn-link btn-sm" type="button" data-bind="click: $parent.goToMonitoringOfWroup">
        Go to the platform monitoring
      </button>
    </div>
  </div>
  <!-- first: load parameters -->
  <!-- <div data-bind="if: getParentVwm().mdlStage.isLoadedListOfWfmParameterOfWroup"> -->
    <!-- second: get only monitored parameters -->
    <div data-bind="with: mainVwmMonitoringOfWell">
      <div data-bind="ifnot: listOfMonitoredVwmParams.hasItems">
        No monitored parameters. Please select parameters in the Units section of the well group.
      </div>
      <div data-bind="if: listOfMonitoredVwmParams.hasItems">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <!-- ko foreach: listOfMonitoredVwmParams -->
                <th class="text-center">
                  <input type="checkbox" data-bind="checked: isVisible"/>
                  <i class="glyphicon glyphicon-bookmark" data-bind="style: { color: mdlWfmParameterOfWroup.color }"></i>
                  <span data-bind="with: mdlWfmParameterOfWroup">
                    <span data-bind="with: wfmParameter">
                      <span data-bind="text: id"></span>
                      <span data-bind="visible: uom">
                        , <span data-bind="text: uom"></span>
                      </span>
                    </span>
                  </span>
                </th>
                <!-- /ko -->
              </tr>
            </thead>
          </table>
          <div data-bind="with: mntrGraph">
            {{> graph-partial }}
          </div>
        </div>
        <div class="text-right" data-bind="if: $root.isEmployeeInEditMode">
          <button class="btn btn-xs btn-warning" data-bind="click: removeAllMonitoringRecords">
            <i class="glyphicon glyphicon-remove"></i> Remove all records
          </button>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>