<script type="text/html" id="widget-tpl-default-summary">
  <!-- current: vwmWidget('as') -> vwmWidget(view) -> vwmWidgock -> vwmWidgout -> vwmStage (with mdlStage) -->
  <!-- parent[3]: vwmStage -->
  <div data-bind="with: $parents[3].mdlStage">
    <div data-bind="if: vwmWidget.isVisSettingPanel">
      <div class="widget-setting-panel" data-bind="foreach: propSpecList">
        <span data-bind="if: tpe">
          <label style="font-weight: normal">
            <input type="checkbox" data-bind="checked: vwmWidget['isVis' + clientId]" />
            <span data-bind="text: ttl"></span>
          </label>
        </span>
      </div>
    </div>
    <div class="widget-content" data-bind="foreach: propSpecList">
      <div data-bind="if: vwmWidget['isVis' + clientId]">
        <small class="bld" data-bind="text: ttl"></small>:
        <span data-bind="if: tpe === 'SingleLine'">
          <!-- parent: mdlStage -->
          <span data-bind="text: $parent[clientId]"></span>
        </span>
        <span data-bind="if: tpe === 'MultiLine'">
          <span class="pre-wrap-text" data-bind="text: $parent[clientId]"></span>
        </span>
        <span data-bind="if: tpe === 'DateLine'">
          <span data-bind="unix: $parent[clientId]"></span>
        </span>
        <span data-bind="if: tpe === 'FileLine'">
          <span data-bind="if: $parent[clientId]">
            <img data-bind="attr: {width: addtData.width, src: $parent[clientId]().fileUrl }"></img>
          </span>
        </span>
      </div>
    </div>
  </div>
</script>