<script type="text/html" id="widget-tpl-wield-stat">
  <!-- current: vwmWidget -->
  <div data-bind="if: isVisSettingPanel">
    <div class="widget-setting-panel" data-bind="with: mdlWidget">
      <label>
        <input type="checkbox" data-bind="checked: opts.isVisWellActivity" /> {{capitalizeFirst lang.isVisWellActivity}}
      </label>
    </div>
  </div>
  <div class="widget-content">
    <div data-bind="if: mdlWidget.opts.isVisWellActivity">
      <div data-bind="svgPie: { pieData: mdlWidget.wellActivityData}">
      </div>
      <div class="pie-legend">
        <div data-bind="foreach: mdlWidget.wellActivityData">
          <div class="pie-legend__dash" data-bind="style: { background : color }"></div>
          <span data-bind="text: name"></span>
        </div>
      </div>
    </div>
  </div>
</script>