<script type="text/html" id="well-sketch-widget-tpl">
  <div data-bind="if: widget.isVisSettingPanel">
    <div class="widget-setting-panel">
      <label>
        <input type="checkbox" data-bind="checked: widget.isVisImg" /> Image
      </label>
      <label>
        <input type="checkbox" data-bind="checked: widget.isVisDescription" /> Description
      </label>
    </div>
  </div>
  <div class="widget-content">
    <div data-bind="with: $parents[3]">
      <div data-bind="if: widget.isVisImg">
        <div data-bind="with: sketchOfWell">
          <div data-bind="with: fileSpec">
            <span class="pointer" data-bind="panzoomImg: { src: fileUrl }">
              <img class="img-responsive" src="#" data-bind="attr: { src: fileUrl }" alt="Sketch image" />
            </span>
          </div>
        </div>
      </div>
      <div data-bind="if: widget.isVisDescription">
        <div data-bind="with: sketchOfWell">
          <div class="break-word pre-wrap-text" data-bind="text: description" style="padding: 8px 2px;"></div>
        </div>
      </div>
    </div>
  </div>
</script>