<script type="text/html" id="widget-tpl-well-history">
  <div data-bind="if: vwmWidget.isVisSettingPanel">
    <div class="widget-setting-panel">
      <div data-bind="with: vwmWidget.vwmScopeOfHistoryOfWell">
        {{> well-history-filter-panel }}
      </div>
    </div>
  </div>
  <div class="widget-content">
    <!-- with well -->
    <div data-bind="with: $parents[3].mdlStage">
      <div data-bind="if: isLoadedHistoryList">
        <div data-bind="with: vwmWidget.vwmScopeOfHistoryOfWell">
          <div data-bind="if: listOfVwmHistoryOfWell().length === 0">
            <small>{{capitalizeFirst lang.noWellHistoryList}}</small>
          </div>
          <div data-bind="if: listOfVwmHistoryOfWell().length > 0">
            <div data-bind="foreach: sortedListOfVwmHistoryOfWell">
              <div data-bind="slideVisible: isVisible">
                <div class="well-history-block" data-bind="with: mdlHistoryOfWell">
                  <div class="text-center">
                    <span class="bld" data-bind="unix: startUnixTime"></span>
                    <span data-bind="visible: isVisibleEndUnixTime">
                      - <span class="bld" data-bind="unix: endUnixTime"></span>
                    </span>
                  </div>
                  <div data-bind="visible: historyText">
                    <blockquote class="pre-wrap-text" data-bind="text: historyText"></blockquote>
                  </div>
                  <div data-bind="with: jobType">
                    <blockquote>
                      <span class="bld">{{capitalizeFirst lang.jobType}}:</span>
                      <span data-bind="text: name"></span>
                    </blockquote>
                  </div>
                  <div data-bind="foreach: WfmImages">
                    <span class="pointer" data-bind="panzoomImg: {src: croppedImageUrl}">
                      <img class="img-thumbnail elem-shadow" src="" data-bind="attr: { src: croppedImageUrl }" alt="History image" />
                    </span>
                  </div>
                  <div class="clearfix" data-bind="foreach: WellHistoryFiles">
                    <div class="img-thumbnail pull-left" data-bind="with: fileSpec">
                      <span class="link-view pointer">
                        <span data-bind="text: namePlusExtension, click: download"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>