<script type="text/html" id="widget-tpl-wield-map">
  <!-- current: vwmWidget -->
  <div data-bind="if: vwmWidget.isVisSettingPanel">
    <div class="widget-setting-panel" data-bind="with: vwmWidget.mdlWidget">
      <label>
        {{capitalizeFirst lang.toSelectMapOfWield}}:
        <select class="input-sm" data-bind="options: dictOfMap, optionsText: 'optText', optionsValue: 'optValue', value: opts.idOfSlcMapOfWield"></select>
      </label>
      <label>
        <input type="checkbox" data-bind="checked: opts.isVisImg" /> {{capitalizeFirst lang.isVisImgOfMapOfWield}}
      </label>
      <label>
        <input type="checkbox" data-bind="checked: opts.isVisName" /> {{capitalizeFirst lang.isVisNameOfMapOfWield}}
      </label>
    </div>
  </div>
  <div class="widget-content" data-bind="with: vwmWidget.slcVwmMapOfWield">
    <div data-bind="if: vwmWidget.mdlWidget.opts.isVisName">
      <div class="text-center">
        <span data-bind="text: name"></span>
      </div>
    </div>
    <div data-bind="if: vwmWidget.mdlWidget.opts.isVisImg">
      <div>
        {{> oil-map }}
      </div>
    </div>
  </div>
</script>