<script type="text/html" id="widget-tpl-well-map">
  <!-- current: vwmWidget -->
  
  <div data-bind="if: vwmWidget.isVisSettingPanel">
    <div class="widget-setting-panel">
    </div>
  </div>
  <div class="widget-content">
    
  </div>
</script>