<script type="text/html" id="widget-tpl-well-monitoring">
  <!-- current: vwmWidget -->
  <div data-bind="if: vwmWidget.isVisSettingPanel">
    <div class="widget-setting-panel">
    </div>
  </div>
  <div class="widget-content">
  </div>
</script>