<script type="text/html" id="widget-tpl-wield-map">
  <!-- current: vwmWidget -->
  
  <div data-bind="if: vwmWidget.isVisSettingPanel">
    <div class="widget-setting-panel">
      <label>
        {{capitalizeFirst lang.toSelectMapOfWield}}:
        <select class="input-sm" data-bind="options: listOfVwmMapOfWield, optionsText: 'name', optionsValue: 'vid', value: vidOfSlcVwmMapOfWield"></select>
      </label>
      <label>
        <input type="checkbox" data-bind="checked: vwmWidget.isVisImg" /> {{capitalizeFirst lang.isVisImgOfMapOfWield}}
      </label>
      <label>
        <input type="checkbox" data-bind="checked: vwmWidget.isVisName" /> {{capitalizeFirst lang.isVisNameOfMapOfWield}}
      </label>
    </div>
  </div>
  <div class="widget-content" data-bind="with: slcVwmMapOfWield">
    <div data-bind="if: vwmWidget.isVisName">
      <div class="text-center">
        <span data-bind="text: name"></span>
      </div>
    </div>
    <div data-bind="if: vwmWidget.isVisImg">
      <div>
        {{> wield-map-image }}
      </div>
    </div>
  </div>
  
</script>