<script type="text/html" id="sketch-widget-tpl">
  <div data-bind="if: widget.isVisSettingPanel">
    <div class="widget-setting-panel">
      <label>
        <input type="checkbox" data-bind="checked: widget.isVisImg" /> Image
      </label>
      <label>
        <input type="checkbox" data-bind="checked: widget.isVisDescription" /> Description
      </label>
    </div>
  </div>
  <div class="widget-content">
    <div data-bind="with: $parents[3]">
      <div data-bind="if: widget.isVisImg">
        <!--attr: { src: MainSketchUrl }-->
        <span class="pointer" data-bind="panzoomImg: { src: MainSketchUrl}">
          <img class="img-responsive" src="#" data-bind="attr: { src: MainSketchUrl }" alt="Sketch image" />
        </span>
      </div>
      <div data-bind="if: widget.isVisDescription">
        <div class="break-word" data-bind="html: SketchDesc" style="padding: 8px 2px;"></div>
      </div>
    </div>
  </div>
</script>