<script type="text/html" id="history-widget-tpl">
  <div data-bind="if: widget.isVisSettingPanel">
    <div class="widget-setting-panel">
      <div data-bind="with: widget.historyView">
        <span>{{capitalizeFirst lang.filterByDate}}:</span>
        <input class="input-sm" type="text" size="10" data-bind="datepicker: startDate, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
        <span> - </span>
        <input class="input-sm" type="text" size="10" data-bind="datepicker: endDate, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
        <button class="btn btn-default btn-sm" type="button" data-bind="click: changeSortByDateOrder">
          {{capitalizeFirst lang.sortByDate}} <i class="glyphicon" data-bind="css: sortByDateCss"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="widget-content">
    <div data-bind="with: $parents[3]">
      <div data-bind="if: isLoadedHistoryList">
        <div data-bind="if: historyList().length === 0">
          <small>{{capitalizeFirst lang.noWellHistoryList}}</small>
        </div>
        <div data-bind="if: historyList().length > 0">
          <div data-bind="with: widget.historyView">
            <div data-bind="foreach: sortedHistoryList">
              <div class="well-history-block">
                <div class="text-center">
                  <span class="bld" data-bind="unix: startUnixTime"></span>
                  <span data-bind="visible: isVisibleEndUnixTime">
                    - <span class="bld" data-bind="unix: endUnixTime"></span>
                  </span>
                </div>
                <div data-bind="visible: historyText">
                  <blockquote class="pre-wrap-text" data-bind="text: historyText"></blockquote>
                </div>
                <div data-bind="with: jobType">
                  <blockquote>
                    <span class="bld">{{capitalizeFirst lang.jobType}}:</span>
                    <span data-bind="text: name"></span>
                  </blockquote>
                </div>
                <div data-bind="foreach: WfmImages">
                  <img class="img-thumbnail elem-shadow" src="" data-bind="attr: { src: dataUrl }" alt="History image" />
                </div>
                <div class="clearfix" data-bind="foreach: WellHistoryFiles">
                  <div class="img-thumbnail pull-left">
                    <a href="#" data-bind="text: FileNameWODate, click: downloadWellHistoryFile"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>