<script type="text/html" id="widget-tpl-well-sketch">
  <!-- current: vwmWidget -->
  <div data-bind="if: isVisSettingPanel">
    <div class="widget-setting-panel" data-bind="with: mdlWidget">
      <label>
        <input type="checkbox" data-bind="checked: opts.isVisImg" /> Image
      </label>
      <label>
        <input type="checkbox" data-bind="checked: opts.isVisDescription" /> Description
      </label>
    </div>
  </div>
  <div class="widget-content">
    <div data-bind="if: mdlWidget.opts.isVisImg">
      <div data-bind="with: mdlWidget.mdlStageContext.sketchOfWell">
        <div data-bind="with: fileSpec">
          <span class="pointer" data-bind="panzoomImg: { src: fileUrl }">
            <img class="img-responsive" src="#" alt="Sketch image"
                 data-bind="attr: { src: fileUrl }" />
          </span>
        </div>
      </div>
    </div>
    <div data-bind="if: mdlWidget.opts.isVisDescription">
      <div data-bind="with: mdlWidget.mdlStageContext.sketchOfWell">
        <div class="break-word pre-wrap-text" style="padding: 8px 2px;"
             data-bind="text: description"></div>
      </div>
    </div>
  </div>
</script>