<div>
  <!--context: vwmStage (Wield)-->
  <div class="row">
    <div class="col-md-9">
      <!--view: maps-->
      <div>
        <div data-bind="ifnot: slcVwmMapOfWield">
          <div class="alert alert-warning">{{capitalizeFirst lang.noSelectedMapOfWield}}</div>
        </div>
        <div data-bind="with: slcVwmMapOfWield">
          <!-- view: map -->
          <div style="position: absolute">
            <div class="min-top-margin min-left-margin" data-bind="foreach: mapTools">
              <!-- ko if: $root.isEmployeeInEditMode() || isPublicTool -->
              <button class="btn btn-sm btn-default" data-bind="click: $parent.selectMapTool, css: { 'active': isSlc}">
                <i data-bind="css: icon, attr: {title: name}"></i>
              </button>
              <!-- /ko -->
            </div>
          </div>
          {{> wield-map-image }}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="clearfix" data-bind="if: $root.isEmployeeInEditMode">
        <h4 class="pull-right">
          <button class="btn btn-default btn-xs" data-bind="click: createMapFromFile">
            <i class="glyphicon glyphicon-plus"></i>
            {{capitalizeFirst lang.createMapOfWieldFromFile}}...
          </button>
        </h4>
      </div>
      <div>
        <!-- ko foreach: sortedListOfVwmMapOfWield -->
        <div class="min-top-margin">
          <div class="clearfix">
            <div class="pull-left">
              <i class="glyphicon glyphicon-circle-arrow-down" data-bind="visible: isSlcVwmMapOfWield"></i>
              <i class="glyphicon glyphicon-circle-arrow-right" data-bind="hidden: isSlcVwmMapOfWield"></i>
              <span class="link-view pointer" data-bind="click: $parent.selectVwmMapOfWield">
                <span data-bind="with: mdlMapOfWield">
                  <span data-bind="text: name, attr: { title: description }"></span>
                </span>
              </span>
            </div>
            <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
              <span data-bind="with: mdlMapOfWield">
                <!-- TODO: replace method -->
                <i class="glyphicon glyphicon-edit link-icon" data-bind="click: editWellFieldMap"></i>
                <!-- parent: vwmMapOfWield -->
                <!-- parents[1]: vwmWield -->
                <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parents[1].mdlStage.removeMapOfWield"></i>
              </span>
            </div>
          </div>
          <div data-bind="slideVisible: isSlcVwmMapOfWield">
            <div data-bind="foreach: listVwmWellMarker">
              <div class="min-left-margin">
                <div class="clearfix">
                  <div class="pull-left">
                    <i class="glyphicon glyphicon-leaf"></i>
                    <span class="link-view pointer" data-bind="click: $parent.selectVwmWellMarker">
                      <span data-bind="text: mdlWellMarker.wellName, css: { 'bld': isSlc }"></span>
                    </span>
                  </div>
                  <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
                    <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.removeVwmWellMarker"></i>
                  </div>
                </div>
              </div>
            </div>
            <div data-bind="if: $root.isEmployeeInEditMode">
              <div data-bind="with: wellMarkerDataToAdd">
                <div data-bind="slideVisible: coords">
                  <div class="well min-left-margin">
                    <div data-bind="with: coords">
                      x: <span data-bind="prec: { value: $data[0] }"></span>
                      y: <span data-bind="prec: { value: $data[1] }"></span>
                    </div>
                    <div>
                      <select class="input-sm" data-bind="options: $parent.mdlMapOfWield.outWellsOfWield, optionsText: 'Name', optionsValue: 'id', value: idOfWell, optionsCaption: 'select well...'"></select>
                    </div>
                    <div class="min-top-margin">
                      <button class="btn btn-sm btn-success" data-bind="enable: idOfWell, click: $parent.addWellMarkerToMap">Add</button>
                      <button class="btn btn-sm btn-default" data-bind="click: $parent.cancelAddingWellMarker">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-bind="foreach: handledAreas">
              <div style="margin-left: 16px">
                <i class="glyphicon glyphicon-picture"></i>
                <span class="min-left-margin" data-bind="text: Name"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>

  <!--<div>
    <h4>Map help:</h4>
    <div>
      <h5>Scale:</h5>
      <div>1. Select 'Ruler' and specify two points on the map</div>
      <div>2. Press "Set scale" and enter actual distance between this points (in meters)</div>
    </div>
    <div>
      <h5>Point:</h5>
      <label>Select 'Add well' button and specify well point on the map</label>
    </div>
    <div>
      <h5>Area:</h5>
      <div>1. Select "Ruler" and specify few points on the map</div>
      <div>2. Click "Add area" on the map toolbar</div>
      <div>3. Hover on selected area to get the result (square meters)</div>
    </div>
  </div>-->
</div>