<div>
  <div class="tab-content-pad">
    <div data-bind="if: selectedSection">
      <div data-bind="if: selectedSection().sectionPatternId === 'wield-map'">
        {{> wield-map}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'wield-pvt'">
        {{> wield-pvt}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'wield-summary'">
        {{> wield-summary}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'wield-reservoir'">
        {{> wield-reservoir}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'wield-potential'">
        {{> wield-potential}}
      </div>
    </div>
  </div>
</div>