<div>
  Import data to File Manager<br/>
  Specify data: Permeability – PERM, Porosity – PORO, etc.<br/>
  Run statistic tool app on ipad, sync data base<br/>
  Run statistic calcs, upload data to WFM
</div>