<div class="wfm-mgr-file-list">
  <div class="inner-list">
    <div class="wfm-section-panel clearfix" data-bind="hidden: $parents[1].modalFileMgr.okCallback">
      <ul class="nav nav-pills" data-bind="foreach: listOfSectionOfWieldDto">
        <li data-bind="css: {'active': isSelectedFileSection }">
          <div data-bind="click: $parent.selectFileSection">
            <span data-bind="with: sectionPattern">
              <span data-bind="text: name"></span>
              <br/>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <!-- ko with: selectedFileSection -->
    <!-- ko if: sectionPattern -->
    <div>
      <span class="btn btn-sm btn-inverse fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add file...</span>
        <input data-bind="filoader: getSectionFiloader()" type="file"></input>
      </span>
      <button class="btn btn-sm btn-inverse" data-bind="click: deleteSelectedFileSpecs, enable: isSelectedAnyFile">
        <i class="glyphicon glyphicon-remove"></i> Delete
      </button>
    </div>
    <div class="clearfix">
      <div class="col-sm-8">
        <span class="bld" title="File name">Name</span>
      </div>
      <div class="col-sm-1 hidden-xs">
        <span class="bld" title="Extension">Ext</span>
      </div>
      <div class="col-sm-2 hidden-xs">
        <span class="bld" title="Created date and time">Created</span>
      </div>
      <div class="col-sm-1 hidden-xs">
        <span class="bld" title="Size, kilobytes">kB</span>
      </div>
    </div>

    <div data-bind="foreach: readyListOfFileSpec">
      <div class="clearfix">
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" data-bind="checked: isSelected"></input>
              <span class="break-word" data-bind="text: name, attr: {title: fullTitle }"></span>
            </label>
          </div>
        </div>
        <div class="col-sm-1">
          <span data-bind="text: extension"></span>
        </div>
        <div class="col-sm-2">
          <span data-bind="unixTime: createdUnixTime"></span>
        </div>
        <div class="col-sm-1">
          <span data-bind="text: lengthInKb, attr:{title: length + ' bytes'}"></span>
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
  </div>
</div>
