<!-- current: vwmWield -->
<div data-bind="if: isNullSlcVwmSectionWrk">
    <div data-bind="if: isSlcStageViewDashboard">
      {{> widget-scope}}
    </div>
    <div data-bind="if: isSlcStageViewFmgr">
      {{> fmgr-full }}
    </div>
</div>
<div data-bind="if: slcVwmSectionWrk">
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wield-summary'">
    {{> summary-standard }}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wield-map'">
    {{> wield-map}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wield-pvt'">
    {{> wield-pvt}}
  </div>      
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wield-reservoir'">
    {{> wield-reservoir}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wield-potential'">
    {{> wield-potential}}
  </div>
</div>