<div>
  <div class="row">
    <div class="col-md-9">
      <div data-bind="with: selectedWieldMap">
        <svg class="wield-map-svg" version="1.1" width="100%" viewbox="0 0 1200 600"
             data-bind="attr: { height: mapWrap.height }, svgResponsive: {imgUrl: fileSpec.fileUrl, koSvgWidth: mapWrap.width, tmpIsVisibleMenu: $root.isVisibleMenu}">
          <rect width="1200" height="600"></rect>
          <g data-bind="svgMap: {imgUrl: fileSpec.fileUrl}"></g>
        </svg>
        <!--<div style="width: 100%; height: 200px" data-bind="leafletMap: {imgUrl: fileSpec.fileUrl}"></div>-->
      </div>
      <!--<div style="width: 620px; height: 512px; border: 1px dotted #ccc">
        <div data-bind="with: selectedWieldMap">
          <div data-bind="template: {afterRender: afterRenderMapObj }">
            <div style="width: 620px; height: 512px" id="map"></div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="col-md-3">
      <div class="clearfix">
        <h4 class="pull-right">
          <button class="btn btn-default btn-sm" data-bind="click: createMapFromFile">Add map...</button>
        </h4>
      </div>
      <!-- ko foreach: WellFieldMaps -->
      <div>
        <div class="clearfix">
          <div class="pull-left">
            <i class="glyphicon glyphicon-circle-arrow-down" data-bind="visible: $data === $parent.selectedWieldMap()"></i>
            <i class="glyphicon glyphicon-circle-arrow-right" data-bind="visible: $data !== $parent.selectedWieldMap()"></i>
            <a href="#" data-bind="click: showWellFieldMap, attr: { title: Description }">
              <span data-bind="text: name"></span>
            </a>
          </div>
          <div class="pull-right">
            <i class="glyphicon glyphicon-edit link-icon" data-bind="click: editWellFieldMap"></i>
            <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.deleteWellFieldMap"></i>
          </div>
        </div>
        <div data-bind="visible: $data === $parent.selectedWieldMap()">
          <div data-bind="foreach: WellInWellFieldMaps">
            <div style="margin-left: 16px">
              <i class="glyphicon glyphicon-leaf"></i>&nbsp;<span data-bind="text: getWell().Name()"></span>
            </div>
          </div>
          <div data-bind="foreach: WellFieldMapAreas">
            <div style="margin-left: 16px">
              <i class="glyphicon glyphicon-picture"></i>&nbsp;<span data-bind="text: Name"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </div>

  <!--<div>
    <h4>Map help:</h4>
    <div>
      <h5>Scale:</h5>
      <div>1. Select 'Ruler' and specify two points on the map</div>
      <div>2. Press "Set scale" and enter actual distance between this points (in meters)</div>
    </div>
    <div>
      <h5>Point:</h5>
      <label>Select 'Add well' button and specify well point on the map</label>
    </div>
    <div>
      <h5>Area:</h5>
      <div>1. Select "Ruler" and specify few points on the map</div>
      <div>2. Click "Add area" on the map toolbar</div>
      <div>3. Hover on selected area to get the result (square meters)</div>
    </div>
  </div>-->
</div>