<div>
  <div class="row">
    <div class="col-md-9">
      <div data-bind="with: mapsOfWieldVwm">
        {{> wield-map-image }}
      </div>
      <!--<div style="width: 620px; height: 512px; border: 1px dotted #ccc">
        <div data-bind="with: slcMapOfWield">
          <div data-bind="template: {afterRender: afterRenderMapObj }">
            <div style="width: 620px; height: 512px" id="map"></div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="col-md-3">
      <div class="clearfix" data-bind="if: $root.isEmployeeInEditMode">
        <h4 class="pull-right">
          <button class="btn btn-default btn-sm" data-bind="click: createMapFromFile">{{capitalizeFirst lang.createMapOfWieldFromFile}}...</button>
        </h4>
      </div>
      <div data-bind="with: mapsOfWieldVwm">
        <!-- ko foreach: handledMapsOfWield -->
        <div class="min-top-margin">
          <div class="clearfix">
            <div class="pull-left">
              <i class="glyphicon glyphicon-circle-arrow-down" data-bind="visible: $data === $parent.slcMapOfWield()"></i>
              <i class="glyphicon glyphicon-circle-arrow-right" data-bind="visible: $data !== $parent.slcMapOfWield()"></i>
              <span class="link-view pointer" data-bind="click: $parent.selectMapOfWield, attr: { title: Description }">
                <span data-bind="text: name"></span>
              </span>
            </div>
            <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
              <i class="glyphicon glyphicon-edit link-icon" data-bind="click: editWellFieldMap"></i>
              <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parents[1].removeMapOfWield"></i>
            </div>
          </div>
          <div data-bind="visible: $data === $parent.slcMapOfWield()">
            <div data-bind="foreach: wellMarkers">
              <div class="min-left-margin">
                <div class="clearfix">
                  <div class="pull-left">
                    <i class="glyphicon glyphicon-leaf"></i>
                    <span class="link-view pointer" data-bind="text: wellName, click: $parent.selectWellMarker"></span>
                  </div>
                  <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
                    <!--<i class="glyphicon glyphicon-map-marker link-icon" title="Point on this map" data-bind="click: $parent.pointWellMarker"></i>-->
                    <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.removeWellMarker"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="min-left-margin" data-bind="if: $root.isEmployeeInEditMode">
              <div data-bind="if: outWellsOfWield().length > 0">
                <select class="input-sm" data-bind="options: outWellsOfWield, optionsText: 'Name', value: wellToAddToMap, optionsCaption: 'select well...'"></select>
                <button class="btn btn-sm btn-default" type="button" data-bind="click: addWellMarkerToMap, enable: wellToAddToMap">Add to this map</button>
              </div>
            </div>
            <div data-bind="foreach: WellFieldMapAreas">
              <div style="margin-left: 16px">
                <i class="glyphicon glyphicon-picture"></i>
                <span class="min-left-margin" data-bind="text: Name"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>

  <!--<div>
    <h4>Map help:</h4>
    <div>
      <h5>Scale:</h5>
      <div>1. Select 'Ruler' and specify two points on the map</div>
      <div>2. Press "Set scale" and enter actual distance between this points (in meters)</div>
    </div>
    <div>
      <h5>Point:</h5>
      <label>Select 'Add well' button and specify well point on the map</label>
    </div>
    <div>
      <h5>Area:</h5>
      <div>1. Select "Ruler" and specify few points on the map</div>
      <div>2. Click "Add area" on the map toolbar</div>
      <div>3. Hover on selected area to get the result (square meters)</div>
    </div>
  </div>-->
</div>