<div class="wfm-list">
  <!-- parent: vwmUserProfile -->
  <!-- current: slcVwmEmployee (slcVwmChild) -->
  <ul class="list-unstyled">
    <li>
      <div data-bind="with: vwmCompany">
        <div class="wfm-menu-item wfm-menu-header" data-bind="click: $parents[1].activateVwmChild.bind($parents[1])">
          <span data-bind="css: { 'bld': isActiveVwmStage }">
            <!-- select company view, using userprofile parent -->
            <span data-bind="text: mdlStage.name, attr: {title: mdlStage.name}"></span>
          </span>
        </div>
      </div>
    </li>
    <!-- ko with: vwmCompany -->
    <!-- ko ifnot: mdlStage.isLoadedWegions -->
    <li>
      <div class="wfm-menu-item wfm-menu-header text-center">
        <span class="loader-line-medium"></span>
      </div>
    </li>
    <!-- /ko -->
    <!-- ko foreach: listOfVwmChild -->
    <!-- current: vwmWegion-->
    <li>
      <div class="clearfix">
        <i class="glyphicon" data-bind="css: menuItemCss, click: toggleItem"></i>
        <div class="wfm-menu-item" data-bind="click: $parent.activateVwmChild.bind($parent), css: { 'wfm-slc-menu-item': isActiveVwmStage }">
          <div class="pull-right">
            <small>
              <i class="glyphicon glyphicon-globe"></i>
            </small>
          </div>
          <div data-bind="with: mdlStage">
            <span data-bind="text: name, attr: {title: name}"></span>
          </div>
        </div>
      </div>
      <ul class="list-unstyled wfm-child" data-bind="visible: isOpenedItem">
        <!-- ko foreach: listOfVwmChild -->
        <!-- current: vwmWield -->
        <li>
          <div class="clearfix">
            <i class="glyphicon" data-bind="css: menuItemCss, click: toggleItem"></i>
            <div class="wfm-menu-item" data-bind="click: $parent.activateVwmChild.bind($parent), css: { 'wfm-slc-menu-item': isActiveVwmStage }">
              <div class="pull-right">
                <small>
                  <i class="glyphicon glyphicon-home"></i>
                </small>
              </div>
              <div data-bind="with: mdlStage">
                <span data-bind="text: name, attr: {title: name}"></span>
              </div>
            </div>
          </div>
          <ul class="list-unstyled wfm-child" data-bind="visible: isOpenedItem">
            <!-- ko foreach: listOfVwmChild -->
            <!-- current: vwmWroup -->
            <li>
              <div class="clearfix">
                <i class="glyphicon" data-bind="css: menuItemCss, click: toggleItem"></i>
                <div class="wfm-menu-item" data-bind="click: $parent.activateVwmChild.bind($parent), css: { 'wfm-slc-menu-item': isActiveVwmStage }">
                  <div class="pull-right">
                    <small>
                      <i class="glyphicon glyphicon-list"></i>
                    </small>
                  </div>
                  <div data-bind="with: mdlStage">
                    <span data-bind="text: Name, attr: {title: Name}"></span>
                  </div>
                </div>
              </div>
              <ul class="list-unstyled wfm-child" data-bind="visible: isOpenedItem">
                <!-- ko foreach: listOfVwmChild -->
                <!-- current: well -->
                <li>
                  <div class="clearfix">
                    <div class="wfm-menu-item" data-bind="click: $parent.activateVwmChild.bind($parent), css: { 'wfm-slc-menu-item': isActiveVwmStage }">
                      <div class="pull-right">
                        <small>
                          <i class="glyphicon glyphicon-leaf"></i>
                        </small>
                      </div>
                      <div data-bind="with: mdlStage">
                        <span data-bind="text: Name, attr: {title: Name}"></span>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- /ko -->
                <li data-bind="if: $root.isEmployeeInEditMode">
                  <button class="btn btn-xs" data-bind="click: postVwmWell" type="button">Add well</button>
                </li>
              </ul>
            </li>
            <!-- /ko -->
            <li data-bind="if: $root.isEmployeeInEditMode">
              <button class="btn btn-xs" data-bind="click: addVwmWroup" type="button">Add group</button>
            </li>
          </ul>
        </li>
        <!-- /ko -->
        <li data-bind="if: $root.isEmployeeInEditMode">
          <button class="btn btn-xs" data-bind="click: addVwmWield" type="button">Add field</button>
        </li>
      </ul>
    </li>
    <!-- /ko -->
    <li data-bind="if: $root.isEmployeeInEditMode">
      <button class="btn btn-xs" data-bind="click: mdlStage.postWegion" type="button">Add region</button>
    </li>
    <!-- /ko -->
  </ul>
</div>