<div class="wfm-list">
  <ul class="list-unstyled">
    <!-- ko foreach: wegions -->
    <li>
      <div class="clearfix">
        <i class="glyphicon" data-bind="css:{ 'glyphicon-circle-arrow-down' : isOpenItem, 'glyphicon-circle-arrow-right' : !isOpenItem() }, click: toggleItem"></i>
        <div class="wfm-menu-item" data-bind="click: $parent.selectWegion, css: { 'wfm-slc-menu-item': isShowedItem }">
          <div class="pull-right">
            <small>
              <i class="glyphicon glyphicon-globe"></i>
            </small>
          </div>
          <div>
            <span data-bind="text: Name, attr: {title: Name}"></span>
          </div>
        </div>
      </div>
      <ul class="list-unstyled wfm-child" data-bind="visible: isOpenItem">
        <!-- ko foreach: WellFields -->
        <li>
          <div class="clearfix">
            <i class="glyphicon" data-bind="css:{ 'glyphicon-circle-arrow-down' : isOpenItem, 'glyphicon-circle-arrow-right' : !isOpenItem() }, click: toggleItem"></i>
            <div class="wfm-menu-item" data-bind="click: $parent.selectWield, css: { 'wfm-slc-menu-item': isShowedItem }">
              <div class="pull-right">
                <small>
                  <i class="glyphicon glyphicon-home"></i>
                </small>
              </div>
              <div>
                <span data-bind="text: Name, attr: {title: Name}"></span>
              </div>
            </div>
          </div>
          <ul class="list-unstyled wfm-child" data-bind="visible: isOpenItem">
            <!-- ko foreach: WellGroups -->
            <li>
              <div class="clearfix">
                <i class="glyphicon" data-bind="css:{ 'glyphicon-circle-arrow-down' : isOpenItem, 'glyphicon-circle-arrow-right' : !isOpenItem() }, click: toggleItem"></i>
                <div class="wfm-menu-item" data-bind="click: $parent.selectWroup, css: { 'wfm-slc-menu-item': isShowedItem }">
                  <div class="pull-right">
                    <small>
                      <i class="glyphicon glyphicon-list"></i>
                    </small>
                  </div>
                  <div>
                    <span data-bind="text: Name, attr: {title: Name}"></span>
                  </div>
                </div>
              </div>
              <ul class="list-unstyled wfm-child" data-bind="visible: isOpenItem">
                <!-- ko foreach: Wells -->
                <li>
                  <div class="clearfix">
                    <div class="wfm-menu-item" data-bind="click: $parent.selectWell, css: { 'wfm-slc-menu-item': isSelectedItem }">
                      <div class="pull-right">
                        <small>
                          <i class="glyphicon glyphicon-leaf"></i>
                        </small>
                      </div>
                      <div>
                        <span data-bind="text: Name, attr: {title: Name}"></span>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- /ko -->
                <li data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
                  <button class="btn btn-xs" data-bind="click: addWell" type="button">Add well</button>
                </li>
              </ul>
            </li>
            <!-- /ko -->
            <li data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
              <button class="btn btn-xs" data-bind="click: addWellGroup" type="button">Add group</button>
            </li>
          </ul>
        </li>
        <!-- /ko -->
        <li data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
          <button class="btn btn-xs" data-bind="click: addWellField" type="button">Add field</button>
        </li>
      </ul>
    </li>
    <!-- /ko -->
    <li data-bind="if: $root.userProfile.selectedEmployee().isEditMode">
      <button class="btn btn-xs" data-bind="click: postWegion" type="button">Add region</button>
    </li>
  </ul>
</div>