<!-- current: vwmStage (wroup) -->
<div>
  <div class="clearfix">
    <h4 class="pull-left">
      Platform monitoring
    </h4>
    <h4 class="pull-left min-left-margin">
      <span data-bind="ifnot: $root.isEmployeeInEditMode">
        <span data-bind="unix: monitoringUnixTime"></span>
      </span>
      <span data-bind="if: $root.isEmployeeInEditMode">
        <input class="input-sm" data-bind="datepicker: monitoringUnixTime, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
      </span>
    </h4>
    <div class="pull-right">
      <div class="btn-group">
        <button class="btn btn-default btn-sm" type="button" data-bind="css: { 'active': !isMonthlyProcentView() }, click: turnOffMonthlyProcentView">Well values</button>
        <button class="btn btn-default btn-sm" type="button" data-bind="css: { 'active': isMonthlyProcentView }, click: turnOnMonthlyProcentView">Monthly % of change</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th class="text-center">Well</th>
          <!-- ko foreach: listOfVwmWfmParameterOfWroup -->
          <th class="text-center" data-bind="with: mdlWfmParameterOfWroup.wfmParameter">
            <span data-bind="text: id"></span>
            <span data-bind="visible: uom">
              <br /><span data-bind="text: uom"></span>
            </span>
          </th>
          <!-- /ko -->
        </tr>
      </thead>
      <tbody>
        <!-- ko foreach: {data: listOfVwmChild, as: 'vwmWell'} -->
        <tr>
          <td class="text-center">
            <div>
              <span data-bind="text: vwmWell.mdlStage.Name"></span>
            </div>
            <div>
              <small class="text-success" data-bind="visible: vwmWell.mdlStage.IsActive">Active</small>
              <small class="text-danger" data-bind="hidden: vwmWell.mdlStage.IsActive">Inactive</small>
              <button class="btn btn-xs btn-default" type="button" data-bind="click: $parent.goToMonitoringOfWell">
                <i class="glyphicon glyphicon-random"></i> Plot
              </button>
            </div>
          </td>
          <!-- current: vwmWell -->
          <!-- ko foreach: { data: $parent.listOfVwmWfmParameterOfWroup, as: 'vwmPrm' } -->
          <td class="text-center">
            <div data-bind="hidden: $parents[1].isMonthlyProcentView">
              <div data-bind="ifnot: $root.isEmployeeInEditMode">
                12334
              </div>
              <div data-bind="if: $root.isEmployeeInEditMode">
                <div data-bind="hidden: $parents[1].isMonthlyProcentView">
                  <input class="input-sm" size="8"/>
                </div>
              </div>
            </div>
            <div data-bind="visible: $parents[1].isMonthlyProcentView">
              <span data-bind="ifnot: $root.isEmployeeInEditMode">
                <span data-bind="with: vwmWell.mdlStage.objProcentBorders">
                  <span data-bind="with: $data[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]">
                    <span data-bind="text: procent"></span>
                  </span>
                </span>
              </span>
              <span data-bind="if: $root.isEmployeeInEditMode">
                <span data-bind="with: vwmWell.mdlStage.objProcentBorders">
                  <span data-bind="with: $data[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]">
                    <input class="input-sm" type="text" size="10" data-bind="value: procent"/>%
                  </span>
                </span>
              </span>
              <!-- <span data-bind="foreach: vwmWell.mdlStage.procentBorders">
                <span data-bind="if: idOfWfmParameter === vwmPrm.mdlWfmParameterOfWroup.wfmParameterId">
                  <span data-bind="ifnot: $root.isEmployeeInEditMode">
                    <span data-bind="text: procent"></span>%
                  </span>
                  <span data-bind="if: $root.isEmployeeInEditMode">
                    <input class="input-sm" type="text" size="10" data-bind="value: procent"/>%
                  </span>
                </span>
              </span> -->
            </div>            
          </td>
          <!-- /ko -->
        </tr>
        <!-- /ko -->
      </tbody>
    </table>
  </div>
  <!-- TODO: feat: slide#9 #HM! -->
  <!-- Plot button: select date range and show graph using table data of selected well (with procent shlafe) -->
  <!-- Stream data: the same for well tools (separators, flares, etc.) -->
</div>