<!-- current: vwmWroup -->
<div data-bind="if: isNullSlcVwmSectionWrk">
  <div data-bind="if: isSlcStageViewDashboard">
    {{> widget-default-summary }}
    {{> widget-scope}}
  </div>
  <div data-bind="if: isSlcStageViewFmgr">
    {{> fmgr-full }}
  </div>
</div>
<div data-bind="if: slcVwmSectionWrk">
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wroup-summary'">
    {{> summary-standard}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wroup-potential'">
    {{> wroup-potential}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wroup-monitoring'">
    {{> wroup-monitoring}}
  </div>
  <div data-bind="if: patternOfSlcVwmSectionWrk() === 'wroup-unit'">
    {{> wroup-unit}}
  </div>
</div>