<!-- current: vwmStage (wroup) -->
<div>
  <div class="clearfix">
    <h4 class="pull-left">
      Platform monitoring:
    </h4>
    <div class="pull-left min-left-margin">
      <div data-bind="hidden: isMonthlyProcentView">        
        <input class="input-sm" size="10" data-bind="datepicker: monitoringUnixTime, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
      </div>
      <h4 data-bind="visible: isMonthlyProcentView">
        <span>monthly % of change</span>
      </h4>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <button class="btn btn-default btn-sm" type="button" data-bind="css: { 'active': !isMonthlyProcentView() }, click: turnOffMonthlyProcentView">Well values</button>
        <button class="btn btn-default btn-sm" type="button" data-bind="css: { 'active': isMonthlyProcentView }, click: turnOnMonthlyProcentView">Monthly % of change</button>
      </div>
    </div>
  </div>
  <div data-bind="if: mdlStage.isLoadedListOfWfmParameterOfWroup">
    <div data-bind="ifnot: listOfMonitoredVwmParams.hasItems">
      No monitored parameters. Please select parameters in the Units section of the well group.
    </div>
    <div class="table-responsive" data-bind="if: listOfMonitoredVwmParams().length > 0">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th class="text-center">Well</th>
            <!-- ko foreach: listOfMonitoredVwmParams -->
            <th class="text-center" data-bind="with: mdlWfmParameterOfWroup.wfmParameter">
              <span data-bind="text: id"></span>
              <span data-bind="visible: uom">
                <br /><span data-bind="text: uom"></span>
              </span>
            </th>
            <!-- /ko -->
          </tr>
        </thead>
        <tbody>
          <!-- ko foreach: {data: listOfVwmChild, as: 'vwmWell'} -->
          <tr>
            <td class="text-center">
              <div>
                <button class="btn btn-xs btn-link" type="button" data-bind="click: $parent.goToMonitoringOfWell.bind($parent)">
                  <span class="bld" data-bind="text: vwmWell.mdlStage.Name"></span>  
                </button>
              </div>
              <div>
                <small class="text-success" data-bind="visible: vwmWell.mdlStage.IsActive">Active</small>
                <small class="text-danger" data-bind="hidden: vwmWell.mdlStage.IsActive">Inactive</small>
              </div>
            </td>
            <!-- current: vwmWell; parent: vwmWroup --> 
            <!-- ko ifnot: $parent.isMonthlyProcentView -->
              <!-- Create record if it's not exists -->
              <!-- ko ifnot: vwmWell.monitoringRecordForWroup -->
                <td colspan="100%">
                  <span data-bind="if: $root.isEmployeeInEditMode">
                    <span data-bind="with: vwmWell">
                      <button class="btn btn-sm btn-default" data-bind="click: createMonitoringRecord">Create record</button>
                      <span data-bind="if: $root.isUserInDemoMode">
                        <button class="btn btn-sm btn-default" data-bind="click: createDemoMonitoringRecords">Generate records for last month</button>
                      </span>
                    </span>
                  </span>
                </td>
              <!-- /ko -->
              <!-- ko if: vwmWell.monitoringRecordForWroup -->
                <!-- ko foreach: { data: $parent.listOfMonitoredVwmParams, as: 'vwmPrm' } -->
                  <!-- ko with: vwmWell.monitoringRecordForWroup -->
                    <td class="text-center" data-bind="css: diffClassDict[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]">
                      <div data-bind="attr: { title: 'Month average: ' + aveDict[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]() }">
                        <div data-bind="ifnot: $root.isEmployeeInEditMode">
                          <span data-bind="text: dict[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]"></span>
                        </div>
                        <div data-bind="if: $root.isEmployeeInEditMode">
                          <input class="input-sm input-narrow" type="text" size="10" data-bind="value: dict[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]" />
                        </div>
                      </div>
                    </td>
                  <!-- /ko -->
                <!-- /ko -->
              <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: $parent.isMonthlyProcentView -->
              <!-- ko foreach: { data: $parent.listOfMonitoredVwmParams, as: 'vwmPrm' } -->
                <td class="text-center">
                  <div>
                    <span data-bind="ifnot: $root.isEmployeeInEditMode">
                      <span data-bind="with: vwmWell.mdlStage.objProcentBorders">
                        <span data-bind="with: $data[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]">
                          <span data-bind="text: procent"></span>
                        </span>
                      </span>
                    </span>
                    <span data-bind="if: $root.isEmployeeInEditMode">
                      <span data-bind="with: vwmWell.mdlStage.objProcentBorders">
                        <span data-bind="with: $data[vwmPrm.mdlWfmParameterOfWroup.wfmParameterId]">
                          %<input class="input-sm input-width-md" type="text" size="10" data-bind="value: procent"/>
                          <span class="loader-line-small" data-bind="visible: isSaveProgress" style="position: absolute"></span>
                        </span>
                      </span>
                    </span>
                  </div>            
                </td>
              <!-- /ko -->  
            <!-- /ko -->
          </tr>
          <!-- /ko -->
        </tbody>
      </table>
    </div>
  </div>
  <!-- TODO: #34! Stream data: the same for well tools (separators, flares, etc.) -->
</div>