<div>
  <!-- current: vwmStage (wroup) -->
  <div class="tab-content-pad">
    <div data-bind="if: slcVwmSectionWrk() === null">
      <!-- with wroup model -->
      {{> widget-default-summary }}
      {{> widget-scope}}
    </div>
    <div data-bind="if: slcVwmSectionWrk">
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'wroup-summary'">
        {{> summary-standard}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'wroup-potential'">
        {{> wroup-potential}}
      </div>
      <div data-bind="if: slcVwmSectionWrk().mdlSection.sectionPatternId === 'wroup-unit'">
        {{> wroup-unit}}
      </div>
    </div>
  </div>
</div>