<!-- current: vwmStage (wroup) -->
<div>
  <!-- TODO: feat: slide#9 #HM! -->
  <!-- Plot button: select date range and show graph using table data of selected well (with procent shlafe) -->
  <!-- Stream data: the same for well tools (separators, flares, etc.) -->
</div>