<div>
  <div class="tab-content-pad">
    <div data-bind="if: selectedSection() === null">
      {{> widget-scope}}
    </div>
    <div data-bind="if: selectedSection">
      <div data-bind="if: selectedSection().sectionPatternId === 'wroup-summary'">
        {{> summary-standard}}
      </div>
      <div data-bind="if: selectedSection().sectionPatternId === 'wroup-potential'">
        {{> wroup-potential}}
      </div>
    </div>
  </div>
</div>