<!-- current: vwmStage (wroup) -->
<div>
  <h4>Last test data:</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <!-- ko foreach: listOfVwmWfmParameterOfWroup -->
        <th data-bind="with: mdlWfmParameterOfWroup.wfmParameter">
          <span data-bind="text: id"></span>,<br />
          <span data-bind="text: uom"></span>
        </th>
        <!-- /ko -->
      </tr>
    </thead>
    <tbody>
      <!-- ko foreach: {data: listOfVwmChild, as: 'vwmWell'} -->
      <tr>
        <td>
          <span data-bind="text: vwmWell.mdlStage.Name"></span>
        </td>
        <td>
          <!-- LastApprovedTestScope -->
          <!-- <div data-bind="with: vwmWell.mdlStage.lastTestScope">
            <span data-bind="text: startUnixTimeDateView"></span>
          </div> -->
        </td>
        <!-- parent: vwmWroup -->
        <!-- ko foreach: { data: $parent.listOfVwmWfmParameterOfWroup, as: 'vwmWfmPrm'} -->
        <td>
          <!-- LastApprovedTestScope -->
          <!-- <div data-bind="with: vwmWell.mdlStage.lastTestScope">
            <span data-bind="text: testDataTotal()[vwmWfmPrm.mdlWfmParameterOfWroup.wfmParameterId]"></span>
          </div> -->
        </td>
        <!-- /ko -->
        <!-- /ko -->
      </tr>
      <!-- /ko -->
      <!-- <tr class="success">
            <td>
                Total
            </td>
            <td></td>
        </tr> -->
    </tbody>
  </table>
</div>